#app .van-popup {
  width: 100%;
  top: 45%;
  background: transparent;
}

#app .van-empty__description {
  color: #ff972f;
}

#app .van-list__error-text,
#app .van-list__finished-text,
#app .van-loading__text,
#app .van-list__loading {
  color: #ffffeb;
}

#app .container {
  background-image: url("../../img/activity_flagman/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding-top: 42%;
  padding-bottom: 30%;
}

#app .container .flag_pole {
  height: 100%;
  position: relative;
}

#app .container .flag_icon {
  position: absolute;
  left: 50%;
  width: 1.4rem;
  height: 47px;
  transform: translate(0, -65px);
  transition: bottom 0.3s linear;
}

#app .container .inner_wrap {
  position: absolute;
  left: 4%;
  bottom: 20%;
  height: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app .container .inner_wrap .van-swipe {
  width: 100%;
  height: 100%;
}

#app .container .inner_wrap .van-swipe .van-swipe__track {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  display: flex;
}

#app .container .inner_wrap .van-swipe .van-swipe-item .inner_item {
  display: inline-block;
  font-size: 0.22rem;
  padding: 0.1rem 0.15rem;
  background: rgba(50, 48, 48, 0.55);
  border-radius: 4rem;
}

#app .container .inner_wrap .van-swipe .van-swipe-item .inner_item > img {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  margin-right: 0.1rem;
  float: left;
}

#app .container .inner_wrap .van-swipe .van-swipe-item .inner_item .message {
  color: #fff;
  display: flex;
  align-items: baseline;
  white-space: nowrap;
}

#app .container .inner_wrap .van-swipe .van-swipe-item .inner_item .message .name {
  line-height: 0.4rem;
  margin-right: 0.1rem;
}

#app .container .inner_wrap .van-swipe .van-swipe-item .inner_item .message .name_color {
  color: #fff119;
}

#app .container .inner_wrap .van-swipe .van-swipe-item .inner_item .message .name_color1 {
  color: #24ff19;
}

#app .container .inner_wrap .van-swipe .van-swipe-item .inner_item .message .name_color2 {
  color: #f49c29;
}

#app .container .mybtn {
  position: absolute;
  left: 21%;
  bottom: 9.6%;
  width: 58%;
  color: #fae68a;
  font-size: 0.34rem;
  line-height: 2.6;
  letter-spacing: 1px;
  text-align: center;
  background: linear-gradient(0deg, #9f2328, #ff220f);
  border: 3px solid #fef3a1;
  box-shadow: 3px 5px 0px 0px rgba(7, 1, 1, 0.6);
  border-radius: 5rem;
  animation: mymove 5s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

#app .container .my_toast_btn {
  position: absolute;
  left: 16%;
  bottom: 1%;
  transform: translate(-50%, -50%);
  color: #fef3a1;
  font-size: 0.25rem;
  line-height: 2.4;
  text-decoration: underline;
}

#app .container .showmore_wrap {
  position: absolute;
  left: 50%;
  bottom: 1%;
  width: 40%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5rem;
}

#app .container .showmore_wrap img {
  display: block;
  width: 100%;
}

#app .container .show_group {
  position: absolute;
  top: 50%;
  right: 5%;
  width: 1.3rem;
  animation: shake 4s infinite;
}

#app .container .show_group > img {
  display: block;
  width: 100%;
}

#app .group_dialog {
  position: relative;
  width: 70%;
  margin: 0 auto;
  color: #fff;
  height: 5.6rem;
  background: url("../../img/activity_flagman/group_bg.png") no-repeat center/100% 100%;
}

#app .group_dialog .qcode {
  position: absolute;
  left: 50%;
  top: 52%;
  transform: translate(-50%, -50%);
  display: block;
  width: 2rem;
}

#app .name_wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  height: 6rem;
  padding-top: 0.5rem;
  background: url("../../img/activity_flagman/name_dialog.png") no-repeat center/100% 100%;
}

#app .name_wrap .input_wrap {
  padding: 0 0.3rem;
  border-radius: 0.1rem;
  background: #fffaee;
}

#app .name_wrap .input_wrap > input {
  color: #666;
  line-height: 3;
}

#app .name_wrap .submit_btn {
  position: absolute;
  left: 50%;
  bottom: 3%;
  transform: translate(-50%, -50%);
  width: 80%;
  margin: 0 auto;
  color: #d0171b;
  font-size: 0.4rem;
  line-height: 2.3;
  text-align: center;
  letter-spacing: 1.5px;
  border-radius: 4rem;
  background: linear-gradient(0deg, #f2e842, #feea87);
}

#app .flag_wrap {
  position: relative;
  width: 81%;
  margin: 0 auto;
  height: 6rem;
}

#app .flag_wrap .reuslt_poster {
  width: 100%;
}

#app .share_wrap {
  position: absolute;
  right: 5%;
  top: 3%;
  z-index: 9999;
  display: flex;
  align-items: center;
}

#app .share_wrap .title {
  font-size: 0.3rem;
  margin-right: 0.3rem;
  color: #fff;
}

#app .share_wrap .icon {
  width: 0.5rem;
  margin-bottom: 0.2rem;
}

#app .close_btn {
  display: block;
  margin: 0.8rem auto 0;
  width: 0.8rem;
  height: 0.8rem;
}

#app .canvandom {
  position: fixed;
  left: 300%;
  width: 81%;
  margin: 0 auto;
  height: 6rem;
  background: url("../../img/activity_flagman/flag_dialog.png") no-repeat center/100% 100%;
  padding: 2.3rem 0.7rem 0;
}

#app .canvandom .reuslt_poster {
  width: 100%;
}

#app .canvandom .text_wrap {
  color: #221714;
  font-size: 0.32rem;
  line-height: 0.45rem;
  letter-spacing: 1px;
}

#app .canvandom .text_wrap .name {
  color: #ff6000;
  font-weight: bold;
}

#app .canvandom .text_wrap .rank {
  color: #ff6000;
}

#app .canvandom .qcode {
  position: absolute;
  left: 50%;
  bottom: 7%;
  transform: translate(-50%, -50%);
  display: block;
  width: 1.1rem;
  height: 1.1rem;
}

#app .canvandom .user_code {
  position: absolute;
  left: 50%;
  bottom: -0.04rem;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-size: 0.26rem;
}

#app .canvandom .seal_wrap {
  position: absolute;
  right: 24px;
  bottom: 47px;
}

#app .canvandom .seal_wrap .seal_icon {
  position: relative;
  display: block;
  width: 1.3rem;
  height: 1.3rem;
}

#app .canvandom .seal_wrap .text {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  color: #333;
  font-size: 0.2rem;
  text-align: center;
  white-space: nowrap;
  line-height: 1.2;
}

#app .rank_wrap {
  background-image: url("../../img/activity_flagman/background2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  padding-top: 2rem;
  padding: 2rem 0 0.8rem;
}

#app .rank_wrap .content {
  width: 90%;
  margin: 0 auto;
  padding: 0.24rem 0.2rem;
  background: rgba(135, 32, 24, 0.6);
}

#app .rank_wrap .content .title_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ff972f;
  font-size: 0.3rem;
  line-height: 2;
  background: #c6161b;
}

#app .rank_wrap .content .title_wrap .left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0.96;
  padding-left: 0.45rem;
}

#app .rank_wrap .content .title_wrap .right {
  flex: 2;
  text-align: right;
  padding-right: 0.6rem;
}

#app .rank_wrap .content .rank_list {
  height: 6.5rem;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

#app .rank_wrap .content .rank_list .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffeb;
  padding: 0.2rem 0;
  border-bottom: 1px solid #c41218;
}

#app .rank_wrap .content .rank_list .item .left {
  flex: 0.8;
  display: flex;
  align-items: center;
  padding-left: 0.3rem;
}

#app .rank_wrap .content .rank_list .item .left > img {
  display: block;
  width: 0.9rem;
  height: 0.9rem;
  margin-right: 0.36rem;
  border-radius: 50%;
}

#app .rank_wrap .content .rank_list .item .left > p {
  flex: 1;
  font-size: 0.3rem;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

#app .rank_wrap .content .rank_list .item .right {
  flex: 1;
  font-size: 0.32rem;
  text-align: right;
  padding-right: 0.5rem;
}

@keyframes mymove {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
}

@keyframes shake {
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-10px) rotate(5deg);
  }
  50% {
  }
  70% {
    transform: translateY(10px) rotate(-5deg);
  }
  100% {
    transform: translateY(0px);
  }
}
