body {
  background-color: #f5f7f8;
}
@media screen and (max-width: 320px) {
  body,
  html {
    font-size: 12px;
  }
}
@media screen and (min-width: 320px) and (max-width: 400px) {
  body,
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 400px) {
  body,
  html {
    font-size: 18px;
  }
}
#app {
  position: relative;
  min-width: 375px;
  max-width: 750px;
  margin: 0 auto;
  overflow-x: hidden;
  .notic_wrap {
    position: absolute;
    top: 0.8rem;
    left: 50%;
    width: 100%;
    height: 1.7rem;
    transform: translate(-50%);
    z-index: 1;
    .my-swipe {
      width: 85%;
      margin: 0 auto;
      height: 100%;
      text-align: center;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 3rem;
      .van-swipe-item {
        color: #fff;
        font-size: 0.5rem;
        line-height: 1.7rem;
        letter-spacing: 4px;
        span {
          color: #1fff01;
        }
      }
    }
  }

  .banner {
    position: relative;
    img {
      width: 100%;
      height: 25rem;
      display: block;
    }
    .content {
      position: absolute;
      top: 36%;
      left: 50%;
      transform: translate(-50%);
      width: 90%;
      padding: 0.4rem 0.8rem;
      background-color: #fff;
      border-radius: 0.6rem;
      .item {
        position: relative;
        display: flex;
        align-items: center;
        &:not(:last-child) {
          margin-bottom: 0.35rem;
        }
        background: url("../img/pay_bg1.png") no-repeat center / 100% 100%;
        .title {
          color: #fff;
          margin: 0 5%;
          font-size: 1.1rem;
          font-style: italic;
          letter-spacing: 1px;
        }
        .text {
          color: #66625b;
          font-size: 0.8rem;
          line-height: 2.5rem;
          font-weight: bold;
          letter-spacing: 1px;
          padding-left: 6%;
          span {
            color: #e78e1f;
          }
        }
        .tips {
          position: absolute;
          top: 0;
          right: 0;
          width: 1.1rem;
          height: 1rem;
        }
      }
    }
  }
  .inner_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11% 7% 0;
    .item {
      position: relative;
      width: 46.5%;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 0.4rem 0 1.6rem;
      border: 2px solid #f0f0f0;
      background-color: #fff;
      border-radius: 0.4rem;
      overflow: hidden;
      .title {
        font-size: 1rem;
        font-weight: bold;
      }
      .cash {
        display: flex;
        align-items: baseline;
        color: #ff423a;
        letter-spacing: 1px;
        > span {
          font-size: 0.9rem;
        }
        > p {
          font-size: 1.7rem;
          font-weight: bold;
        }
      }
      .orgin {
        color: #c0c0c0;
        font-size: 0.75rem;
        text-decoration: line-through;
      }
      .less_member {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        > p {
          color: #c6ced2;
          font-size: 0.5rem;
          line-height: 1.4rem;
          background-color: #f0f5f7;
        }
        .check {
          color: #d2a754;
          background-color: #f5dfb5;
          > span {
            color: #ff6301;
            margin: 0 0.25rem;
          }
        }
      }
    }
    .on {
      border-color: #e7c687;
      background-color: #fdf4e9;
    }
  }
  .footer {
    min-width: 375px;
    max-width: 750px;
    overflow-x: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    .timer_wrap {
      display: flex;
      align-items: center;
      padding-left: 8%;
      background-color: #fbe9e9;
      img {
        width: 0.9rem;
        height: 0.9rem;
        margin-right: 0.5rem;
      }
      > p {
        color: #ee6d6c;
        font-size: 0.7rem;
        line-height: 1.9rem;
        letter-spacing: 1.5px;
      }
    }
    .submit_wrap {
      display: flex;
      .left_wrap {
        flex: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 1rem;
        background-color: #fff;
        .cash {
          font-size: 0.9rem;
          line-height: 1.4rem;
          > span {
            color: #ff423a;
            font-weight: bold;
            font-size: 1rem;
            margin-left: -0.3rem;
          }
        }
        .bottom {
          display: flex;
          align-items: center;
          font-size: 0.7rem;
          .icon {
            margin-right: 0.4rem;
            i {
              display: block;
            }
            .cicle {
              width: 0.9rem;
              height: 0.9rem;
              display: block;
            }
          }

          > p {
            color: #333537;
            span {
              color: #365eff;
            }
          }
        }
      }
      .submit {
        width: 38%;
        color: #fff;
        font-size: 1.1rem;
        text-align: center;
        line-height: 3.3rem;
        letter-spacing: 1px;
        background: linear-gradient(90deg, #393dd2, #5378eb);
      }
    }
  }
}
