.van-dialog .van-dialog__footer {
  display: flex;
}

.van-tabs__line {
  width: 30px;
}

#app .card_list {
  min-height: 25rem;
  margin-top: 0.5rem;
  padding: 0rem 1rem;
  border-top: 1px solid #f3f3f3;
}

#app .card_list .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 0;
  border-radius: 0.4rem;
  background: #fff;
  border-bottom: 1px solid #eeeeee;
}

#app .card_list .item .left_wrap {
  display: flex;
  align-items: center;
}

#app .card_list .item .left_wrap .avatar {
  width: 3rem;
  height: 3rem;
  margin-right: 0.8rem;
  border-radius: 50%;
  overflow: hidden;
}

#app .card_list .item .left_wrap .avatar img {
  display: block;
  width: 100%;
  height: 100%;
}

#app .card_list .item .left_wrap .content .name {
  font-size: 0.92rem;
  letter-spacing: 1px;
  font-weight: bold;
}

#app .card_list .item .right_wrap {
  display: flex;
  align-items: center;
}

#app .card_list .item .right_wrap .left {
  margin-right: 0.8rem;
}

#app .card_list .item .right_wrap .left img {
  width: 2.7rem;
  height: 2.7rem;
}

#app .card_list .item .right_wrap .left img:first-child {
  margin-right: 0.2rem;
}

#app .card_list .item .right_wrap .right {
  color: #ff8e16;
  font-size: 0.8rem;
  line-height: 2;
  padding: 0 0.8rem;
  letter-spacing: 1px;
  border: 1px solid #ff8e16;
  border-radius: 3rem;
}
