<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>对话聊天</title>
  <link rel="stylesheet" href="{:REGISTER_PUBLIC}css/common/main.css">
  <link rel="stylesheet" href="{:REGISTER_PUBLIC}css/common/vant.css">
  <link rel="stylesheet" href="{:REGISTER_PUBLIC}css/chat/chat.css?v=<?php echo time(); php?>">
</head>

<style>
  #target {
    height: 2px;
  }
</style>

<body>
  <div id="app" :style="{'min-height': innerPage}" v-cloak>
    <van-nav-bar :title="navTitle" :fixed="true" left-arrow :right-text="isGroup ? '群管理' : null" @click-left="goback"
      @click-right="goGroupManage">
    </van-nav-bar>
    <!-- 聊天消息区 -->
    <div class="message_wrap">
      <van-list class="message_list" v-model="loading" :finished="finished" finished-text="没有更多了"
        :immediate-check="false" direction="up" @load="onLoadList">
        <div :class="[item.from == sid ? 'item reverse' : 'item row']" v-for="(item, index) in messageList"
          :key="index">
          <div class="message_time" v-if="isShowTimes[index]">
            {{ item.data.from.time | accordingToNow }}
          </div>
          <div class="message_content">
            <div class="avatar">
              <img :src="item.data.from.avatar || default_avatar" alt="">
            </div>
            <div class="content">
              <div class="text" v-if="item.data.typ == 100">{{item.data.content.txt}}</div>
              <div class="img" v-if="item.data.typ == 104">
                <img :src="item.data.content.img" alt="">
              </div>
              <div class="card" v-if="item.data.typ == 102" @click="goUserCard(item.data.content.card_id)">
                <div class="title">{{item.data.content.card_name}}的{{item.data.content.card_brand}}的微名片请惠存！</div>
                <div class="inner_wrap">
                  <div class="img_wrap">
                    <img :src="item.data.content.card_avatar" alt="">
                  </div>
                  <div class="right">
                    <p>姓名：{{item.data.content.card_name}}</p>
                    <p>品牌：{{item.data.content.card_brand}}</p>
                  </div>
                </div>
                <div class="footer">
                  <p>名片</p>
                </div>
              </div>
              <div class="news" @click="_gOtherNews(item.data.content)" v-if="item.data.typ == 103">
                <div class="title van-multi-ellipsis--l2">{{item.data.content.article_title}}</div>
                <div class="bottom">
                  <p class="van-multi-ellipsis--l2">{{item.data.content.article_desc}}</p>
                  <img :src="item.data.content.article_pic" alt="">
                </div>
              </div>
              <div class="audio" v-if="item.data.typ == 101">
                <div class="audio_content" @click="goPlayAudio(item.data.content, index)">
                  <div class="sound_icon">
                    <template v-if="item.from == sid">
                      <img src="{:REGISTER_PUBLIC}img/chat/mysound.png" alt=""
                        v-if="item.data.content.isAudioPlay == 0">
                      <img src="{:REGISTER_PUBLIC}img/chat/mysound_on.gif" alt="" v-else>
                    </template>
                    <template v-else>
                      <img src="{:REGISTER_PUBLIC}img/chat/sound.png" alt="" v-if="item.data.content.isAudioPlay == 0">
                      <img src="{:REGISTER_PUBLIC}img/chat/sound_on.gif" alt="" v-else>
                    </template>
                  </div>
                  <p class="audio_length">{{Math.round(item.data.content.duration)}}"</p>
                </div>
                <div class="noread" v-if="!item.data.content.is_listen"></div>
                <audio :src="item.data.content.audio" ref="audio" controls style="display: none;"></audio>
              </div>
            </div>
          </div>
        </div>
      </van-list>
      <div id="target" ref="target"></div>
    </div>

    <!-- 聊天输入区 -->
    <div id="chat-footer">
      <div class="delayTip" v-if="delayTip">延迟: {{delayTip + 'ms'|| '...'}}</div>
      <div class="input_wrap">
        <div class="left_wrap" @click="toggleContent">
          <img :src="minus" alt="" v-if="showContent">
          <img :src="plus" alt="" v-else>
        </div>
        <div class="content">
          <input type="text" v-model="typingText" @blur="onBlur">
          <div class="icon">
            <img :src="smile" alt="" @click="faceContent">
          </div>
        </div>
        <div class="submit" @click="sendText">发送</div>
      </div>
      <div class="content_wrap" v-show="showContent">
        <div class="apply_wrap" v-if="panelStatus == 0">
          <div class="item" v-for="(item, index) in applyList" :key="index" @click="applyItem(item.type)">
            <van-uploader :after-read="afterRead" v-if="index === 0">
              <img :src="item.icon" alt="" />
              <p>{{ item.title }}</p>
            </van-uploader>
            <template v-else>
              <img :src="item.icon" alt="" />
              <p>{{ item.title }}</p>
            </template>
          </div>
        </div>
        <div class="emoji_wrap" v-if="panelStatus == 1">
          <ul>
            <li v-for="(item, index) in faceList" :key="index" @click="getBrow(index)">
              {{ item }}
            </li>
          </ul>
        </div>
        <div class="record_wrap" v-if="panelStatus == 3">
          <div class="waveform">
            <img src="{:REGISTER_PUBLIC}img/chat/wave.png" alt="" v-if="!isStartRecord">
            <img src="{:REGISTER_PUBLIC}img/chat/wave_on.gif" alt="" v-else>
          </div>
          <div class="btn_wrap">
            <div class="record_btn" @click="startRecord" v-if="!isStartRecord">点击录音</div>
            <div class="handle_wrap" v-else>
              <div class="btn cancel" @click="cancelRecord">取消</div>
              <div class="btn send" @click="submitRecord">确认发送</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 资讯弹窗列表 -->
    <van-popup v-model="showNews">
      <div class="news_list">
        <div class="item" v-for="(item, index) in newsList" :key="index" @click="sendNews(item)">
          <div class="left_wrap">
            <img :src="item.cover" alt="">
          </div>
          <div class="right_wrap">
            <p class="van-multi-ellipsis--l2">{{item.description}}</p>
          </div>
        </div>
      </div>
    </van-popup>
  </div>
</body>

<script src="{:REGISTER_PUBLIC}js/vue.min.js"></script>
<script src="{:REGISTER_PUBLIC}js/vue-resource.min.js"></script>
<script src="{:REGISTER_PUBLIC}js/vant.min.js?v=1.2"></script>
<script src="{:REGISTER_PUBLIC}js/jweixin-1.1.0.js"></script>
<script src="{:REGISTER_PUBLIC}js/moment.min.js"></script>
<script src="{:REGISTER_PUBLIC}js/moment-with-locales.min.js"></script>
<script src="{:REGISTER_PUBLIC}js/vconsole.min.js"></script>

<script>
  // new VConsole();
  const URL = "{:H5_DOMAIN}";
  const API_URL = "{:API_DOMAIN}";
  const ROUTE_DETAIL_DOMAIN = "{:ROUTE_DETAIL_DOMAIN}"; //文章详情授权
  moment.locale('zh-cn'); // moment.js语言环境

  new Vue({
    el: '#app',
    data() {
      return {
        option: {}, // 页面url参数
        userInfo: {}, //用户信息对象
        groupInfo: {}, //群信息对象
        token: '',
        sid: '',
        connectKey: '',
        navTitle: '', //导航标题
        delayTip: '', //服务器延迟
        ws: null, //websocket对象
        isGroup: false, // 是否群聊
        isAdmin: false, // 是否管理员
        default_avatar: '{:REGISTER_PUBLIC}img/avatar/default_avatar.jpg',
        authUrl: "http://123.206.118.205:10800/auth?timestamp=" + new Date().valueOf(),
        wsServer: "ws://123.206.118.205:10800/io?timestamp=" + new Date().valueOf(), //ws请求地址
        lastid: 0, // 聊天记录分页id
        page: 1, // 页码
        pageSize: 20, // 每页条数
        loading: false, // 分页加载
        finished: false, // 结束分页加载
        newsList: [], //资讯列表
        // footer
        minus: '{:REGISTER_PUBLIC}img/chat/minus.png',
        plus: '{:REGISTER_PUBLIC}img/chat/plus.png',
        smile: '{:REGISTER_PUBLIC}img/chat/smile.png',
        panelStatus: 0, // 聊天面板控制 0默认 1表情 2语音
        showContent: false, //显示面板
        showNews: false, // 显示资讯列表
        isStartRecord: false, // 是否正在录音
        typingText: "",
        faceString: "", //选中表情
        faceData: {}, //表情json
        faceList: [], //表情
        messageList: [],
        applyList: [{
          type: "image",
          icon: '{:REGISTER_PUBLIC}img/chat/card.png',
          title: "图片",
        }, {
          type: "news",
          icon: '{:REGISTER_PUBLIC}img/chat/news.png',
          title: "资讯",
        }, {
          type: "card",
          icon: '{:REGISTER_PUBLIC}img/chat/card.png',
          title: "名片",
        }, {
          type: "voice",
          icon: '{:REGISTER_PUBLIC}img/chat/voice.png',
          title: "语音",
        }, ],
      }
    },
    computed: {
      innerPage() {
        return window.innerHeight + 'px'
      },
      isShowTimes() {
        let lastTime = moment(0);
        return this.messageList.map(message => {
          const messageTime = moment(message.data.from.time);
          let diffTime = messageTime.diff(lastTime, 'minutes');

          if (diffTime >= 5) {
            lastTime = messageTime
            return true
          } else {
            return false
          }
        })
      }
    },
    filters: {
      accordingToNow(date) {
        const time = moment(date);
        const now = moment();
        let diffMinutes = now.diff(time, 'minutes');
        let diffDays = now.diff(time, 'days');
        let diffYears = now.diff(time, 'years');

        if (diffDays < 1) {
          return time.format("a hh:mm");
        } else if (diffYears < 1) {
          return time.format("MoDo a hh:mm");
        } else {
          return time.format("LL a hh:mm");
        }
      }
    },
    mounted() {
      this.getUserInfo()
      this.initWxSDK()
      window.scrollTo(0, document.body.scrollHeight)
    },
    updated() {
      // console.log('updated!!');
      // window.scrollTo(0, document.body.scrollHeight)
    },
    beforeDestroy() {
      let myAudio = this.$refs.audio;
      myAudio.remove();
      this.ws.close();
    },
    methods: {
      // 获取url参数 判断单聊群聊
      getUrlQuery() {
        this.option.id = getQueryString('id');
        this.option.sid = getQueryString('sid');
        let type = getQueryString('type');
        if (type) {
          this.isGroup = true;
          this.getChatDetail(0, this.option.id, 1002);
          this.getGroupMsg();
        } else {
          this.isGroup = false;
          this.getChatDetail(0, this.option.id, 1001);
        }

        // 获取url参数
        function getQueryString(name, url) {
          var url = url || window.location.href;
          var reg = new RegExp("(^|&|/?)" + name + "=([^&|/#?]*)(&|/?|$)", "i");
          var r = url.substr(1).match(reg);
          if (r != null) {
            return r[2];
          }
          return null;
        }
      },
      // 获取个人信息
      getUserInfo() {
        this.$http.get(URL + "/H5/Visitor/getLoginInfo").then(
          res => {
            const {
              errCode,
              data,
              msg
            } = res.body;
            if (errCode === 0) {
              this.token = data.token;
              this.userInfo = data.userInfo
              this.getUrlQuery()
              this.getEmoji()
              this.getOnlineMsg()
              this.getNewsList()
            }
          },
          err => {
            this.$toast({
              type: 'fail',
              message: '授权失败',
              duration: 1500,
            });
          }
        );
      },
      // 登录获取信息
      getOnlineMsg() {
        this.$http.get(URL + "/register/friend/online", {
          params: {
            token: this.token
          }
        }).then(
          res => {
            const {
              errCode,
              data,
              msg
            } = res.body;
            if (errCode === 0) {
              this.getWsAuth()
            }
          },
          err => {
            this.$toast({
              type: 'fail',
              message: '登录失败',
              duration: 1500,
            });
          }
        );
      },
      // ws授权
      getWsAuth() {
        let uri = this.authUrl;
        let token = this.token;
        if (token != null && token !== undefined) {
          uri += "&token=" + token;
        }
        this.$http.get(uri).then(
          res => {
            const {
              code,
              data,
              message
            } = res.body;
            if (code === 1) {
              this.connectKey = data.key;
              this.sid = data.sid;
              this.initWebSocket()
            }
          },
          err => {
            this.$toast({
              type: 'fail',
              message: '登录失败',
              duration: 1500,
            });
          }
        );
      },
      // 请求表情json
      getEmoji() {
        this.$http.get(URL + "/register/friend/emoji", {
          params: {
            token: this.token
          }
        }).then(
          res => {
            const {
              errCode,
              data,
              msg
            } = res.body;
            if (errCode === 0) {
              this.faceData = data
              for (let i in this.faceData) {
                this.faceList.push(this.faceData[i].char);
              }
            }
          },
          err => {
            console.log('getEmoji 请求失败');
          }
        );
      },
      // 获取历史消息
      getChatDetail(last = 0, id, type) {
        this.$http.get(URL + "/register/friend/chat_detail", {
          params: {
            token: this.token,
            lastid: last,
            id: id,
            class: type
          }
        }).then(
          res => {
            const {
              errCode,
              data,
              msg
            } = res.body;
            if (errCode === 0) {
              let self = this;
              let result = data.list;
              this.lastid = data.lastid;
              this.navTitle = data.info.name || '聊天';
              if (data == null || result.length == 0) {
                // 加载结束
                this.loading = false;
                this.finished = true;
                return false
              }
              result.forEach(item => {
                if (item.data.typ == 101) {
                  this.$set(item.data.content, 'isAudioPlay', 0);
                }
                this.messageList.unshift(item);
              })
              if (result.length < this.pageSize) {
                // 一页不足的情况
                this.loading = false;
                this.finished = true;
              } else {
                this.loading = false;
              }
              this.$nextTick(() => {
                this.scrollToBottom()
              })
            }
          },
          err => {
            console.log('getChatDetail 请求失败');
          }
        );
      },
      // 发送消息请求
      sendChatMessage(obj) {
        this.$http.post(URL + "/register/friend/send_notice", obj, {
          emulateJSON: true
        }).then(
          res => {
            const {
              errCode,
              data,
              msg
            } = res.body;
            if (errCode === 0) {
              this.showContent = false;
              this.panelStatus = 0;
              // this.ws.send(4 + JSON.stringify(data));
              if (data.data.typ == 101) {
                this.$set(data.data.content, 'isAudioPlay', 0);
              }
              this.messageList.push(data);
            }
          },
          err => {
            console.log('sendChatMessage 请求失败');
          }
        );
      },
      // 请求设置已读消息
      getChatRead(type, id) {
        this.$http.get(URL + "/register/friend/read", {
          params: {
            token: this.token,
            class: type,
            id: id,
          }
        }).then(
          res => {
            const {
              errCode,
              data,
              msg
            } = res.body;
            if (errCode === 0) {}
          },
          err => {
            console.log('getChatRead 请求失败');
          }
        );
      },
      // 最近热门列表
      getNewsList() {
        this.$http
          .get(API_URL + "/news/getNewsList", {
            params: {
              token: this.token,
              vid: this.userInfo.vid,
              bid: this.userInfo.bid,
              ccid: -2,
              cate_id: this.userInfo.cate_id,
              page: 1,
              pageSize: 20,
            },
          })
          .then(
            res => {
              if (res.body.errCode === 0) {
                const data = res.body.data;
                if (data) {
                  this.newsList = data;
                }
              }
            },
            err => {
              console.log("getNewsList 请求失败");
            }
          );
      },
      // 获得群信息
      getGroupMsg() {
        this.$http.get(URL + "/register/group/info", {
          params: {
            token: this.token,
            id: this.option.id,
          }
        }).then(
          res => {
            const {
              errCode,
              data,
              msg
            } = res.body;
            if (errCode === 0) {
              data.is_manager == 1 ? this.isAdmin = true : this.isAdmin = false;
              this.groupInfo = data;
              if (!data.annoucement) return
              this.$dialog.alert({
                  title: '群公告',
                  message: data.annoucement,
                })
                .then(() => {
                  // on confirm
                })
                .catch(() => {
                  // on cancel
                });
            }
          },
          err => {
            console.log("getGroupInfo 请求失败");
          }
        );
      },
      // 载入微信sdk
      initWxSDK() {
        this.$http.get(`${URL}/H5/Share/getSign`, {
          params: {
            url: location.href
          }
        }).then(
          (response) => {
            if (response.body.errCode == 0) {
              let res = response.data.data;
              wx.config({
                debug: false,
                appId: res.appId,
                timestamp: res.timestamp,
                nonceStr: res.nonceStr,
                signature: res.signature,
                jsApiList: [
                  "startRecord",
                  "stopRecord",
                  "playVoice",
                  "pauseVoice",
                  "stopVoice",
                  "uploadVoice",
                ],
              });
              wx.ready(function () {
                // console.log('sdk ready');
              });
            } else {
              console.log("code is not 200");
            }
          },
          (err) => {
            console.log("请求失败");
          }
        );
      },
      // 载入websocket
      initWebSocket() {
        if (!"WebSocket" in window) {
          this.$toast({
            type: 'fail',
            message: '您的浏览器不支持WebSocket!',
          })
          return false
        }
        let self = this;
        let wsServer = this.wsServer + "&sid=" + this.sid + "&key=" + this.connectKey;
        var ws = new WebSocket(wsServer);
        initEventHandle();

        // 初始化事件函数
        function initEventHandle() {
          ws.onopen = function (e) {
            console.log('onopen>>', e);
            heartCheck.start();
          };
          ws.onmessage = function (e) {
            // console.log('onmessage>>', e.data);
            let res = e.data;
            let type = res.substring(0, 1);
            let str = e.data.substring(1);
            if (type == 4) {
              let obj = JSON.parse(str);
              if (obj.from !== self.sid) self.messageList.push(obj);
              if (this.isGroup) {
                self.getChatRead(1002, self.option.id)
              } else {
                self.getChatRead(1001, self.option.id)
              }
            }
            heartCheck.reset();
          };
          ws.onerror = function (e) {
            console.log('onerror>>', e);
            self.$toast({
              type: 'fail',
              message: '连接错误',
              duration: 1500,
            });
            reconnect(wsServer);
          };
          ws.onclose = function (e) {
            console.log('onclose>>', e);
            self.$toast({
              type: 'fail',
              message: '连接关闭',
              duration: 1500,
            });
            reconnect(wsServer);
          };
          self.webSocket = ws;
        }

        // 重连
        function reconnect(url) {
          if (reconnect.lockReconnect) return;
          reconnect.lockReconnect = true;
          setTimeout(function () {
            createWebSocket(url);
            reconnect.lockReconnect = false;
          }, 2000);
        }

        // 实例websocket
        function createWebSocket(url) {
          try {
            if ('WebSocket' in window) {
              ws = new WebSocket(url);
            } else {
              console.log("当前浏览器不支持websocket协议");
            }
            initEventHandle();
          } catch (e) {
            reconnect(url);
          }
        }

        // 心跳机制
        var heartCheck = {
          pingStart: 0,
          timeout: 5000,
          timeoutObj: null,
          serverTimeoutObj: null,
          reset: function () {
            let now = new Date().getTime();
            let delayTip = now - this.pingStart;
            self.delayTip = delayTip;
            // console.log(`%cdelay：${delayTip}ms`, "color:#FF00FF");
            clearTimeout(this.timeoutObj);
            clearTimeout(this.serverTimeoutObj);
            this.start();
          },
          start: function () {
            let self = this;
            this.timeoutObj = setTimeout(function () {
              self.pingStart = new Date().getTime();
              ws.send(2 + JSON.stringify({
                data: ""
              }));
              self.serverTimeoutObj = setTimeout(function () {
                ws.close();
                reconnect(wsServer);
              }, self.timeout)
            }, this.timeout)
          },
        }
      },
      // 上拉加载请求方法
      onLoadList() {
        console.log('scroll!');
        if (this.messageList.length >= this.pageSize) {
          setTimeout(() => {
            if (this.isGroup) {
              this.getChatDetail(this.lastid, this.option.id, 1002)
            } else {
              this.getChatDetail(this.lastid, this.option.id, 1001)
            }
          }, 600)
        }
      },
      // 切换显示面板
      toggleContent() {
        this.showContent = !this.showContent;
        this.panelStatus = 0;
      },
      // 点击面板选项
      applyItem(type) {
        switch (type) {
          case "news":
            console.log("news");
            this.showNews = true;
            this.showContent = false;
            break;
          case "card":
            console.log("card");
            let obj = {
              token: this.token,
              class: this.isGroup ? 1002 : 1001,
              type: 102,
              toid: this.option.id
            }
            this.$dialog.alert({
                title: '消息提示',
                message: '确认发送您的名片吗？',
                confirmButtonColor: '#FF730C',
                showCancelButton: true,
              })
              .then(() => {
                this.sendChatMessage(obj);
              })
              .catch(() => {
                // ...
              });
            break;
          case "voice":
            console.log("voice");
            this.panelStatus = 3;
            break;
          default:
            break;
        }
      },
      // 显示表情
      faceContent() {
        if (!this.showContent) {
          this.toggleContent();
        }
        if (this.panelStatus == 1) {
          this.panelStatus = 0;
          return false
        }
        this.panelStatus = 1;
      },
      // 获取用户点击之后的标签 ，存放到输入框内
      getBrow(index) {
        for (let i in this.faceList) {
          if (index == i) {
            this.faceString = this.faceList[index];
            this.typingText += this.faceString;
          }
        }
      },
      // 输入框失焦
      onBlur(e) {
        // console.log(e);
        window.scrollTo(0, document.body.scrollHeight)
      },
      // 图片上传
      afterRead(file) {
        // console.log(file);
        let obj = {
          token: this.token,
          class: this.isGroup ? 1002 : 1001,
          type: 104,
          toid: this.isGroup ? '' : this.option.id,
          group_id: this.isGroup ? this.option.id : '',
          file: file.content
        }
        this.sendChatMessage(obj)
      },
      // 名片跳转
      goUserCard(id) {
        location.href = `/register/page/user_card?mid=${id}`
      },
      // 点击返回
      goback() {
        window.history.back(-1);
      },
      // 跳转群管理
      goGroupManage() {
        if (!this.option.id) {
          this.$toast({
            type: 'fail',
            message: '缺少群id',
            duration: 1500,
          });
          return false
        }
        location.href = `/register/page/group_manage?id=${this.option.id}`
      },
      // 发送文本消息
      sendText() {
        let obj = {
          token: this.token,
          class: this.isGroup ? 1002 : 1001,
          type: 100,
          toid: this.isGroup ? '' : this.option.id,
          group_id: this.isGroup ? this.option.id : '',
          content: this.typingText
        }
        this.sendChatMessage(obj)
        this.typingText = null;
        this.showContent = false;
        this.panelStatus = 0;
      },
      // 点击发送选中文章
      sendNews(item) {
        let obj = {
          token: this.token,
          class: this.isGroup ? 1002 : 1001,
          type: 103,
          toid: this.isGroup ? '' : this.option.id,
          group_id: this.isGroup ? this.option.id : '',
          cid: item.cid,
          article_id: item.id,
          article_title: item.title,
          article_desc: item.description,
          article_pic: item.cover
        }
        this.$dialog.alert({
            title: '消息提示',
            message: '确认发送该文章吗？',
            confirmButtonColor: '#FF730C',
            showCancelButton: true,
          })
          .then(() => {
            this.sendChatMessage(obj);
            this.showNews = false;
          })
          .catch(() => {
            // ...
          });
      },
      // 跳转文章详情
      _gOtherNews(item) {
        location.href =
          ROUTE_DETAIL_DOMAIN +
          "?nid=" +
          item.article_id +
          "&cid=" +
          item.cid +
          "&uid=" +
          this.userInfo.vid +
          "&proid=" +
          this.userInfo.vid +
          "&otherBid=" +
          this.userInfo.bid;
      },
      // 点击录音
      startRecord() {
        let self = this;
        wx.startRecord({
          success: function (res) {
            self.isStartRecord = true;
          },
          cancel: function () {
            console.log('用户拒绝授权录音');
          },
          fail: function (res) {
            //录音失败
            console.log('fail', res);
          }
        })
      },
      // 取消录音
      cancelRecord() {
        this.isStartRecord = false;
        this.stopRecord();
      },
      // 点击停止录音
      stopRecord(type) {
        let self = this;
        return new Promise((resolve, reject) => {
          wx.stopRecord({
            success: function (res) {
              let voiceId = res.localId;
              self.isStartRecord = false;
              if (type == 'send') {
                self.upLoadRecord(voiceId).then((res) => {
                  resolve(res);
                });
              } else {
                console.log('上传取消');
              }
            },
            fail: function (err) {
              console.log(JSON.stringify(err));
              reject(err);
            }
          });
        });
      },
      // 上传语音
      upLoadRecord(id) {
        let self = this;
        return new Promise((resolve, reject) => {
          wx.uploadVoice({
            localId: id,
            isShowProgressTips: 0, // 默认为1，显示进度提示
            success: function (res) {
              resolve(res.serverId);
            },
            fail: function (err) {
              console.log(JSON.stringify(res));
              reject(err);
            }
          });
        });
      },
      // 语音发送
      submitRecord() {
        this.$toast.loading({
          message: '处理中...',
          forbidClick: true,
          duration: 0,
        });
        this.stopRecord('send').then(res => {
          this.$toast.clear();
          console.log(res);
          let obj = {
            token: this.token,
            class: this.isGroup ? 1002 : 1001,
            type: 101,
            toid: this.isGroup ? '' : this.option.id,
            group_id: this.isGroup ? this.option.id : '',
            file: res
          }
          this.$dialog.alert({
              title: '消息提示',
              message: '确认发送语音吗？',
              confirmButtonColor: '#FF730C',
              showCancelButton: true,
            })
            .then(() => {
              this.sendChatMessage(obj)
            })
            .catch(() => {
              // ...
            });
        }).catch(err => {
          this.$toast.clear();
          this.$toast({
            type: 'fail',
            message: '上传失败，无法发送',
          });
        })
      },
      // 播放/暂停音频
      goPlayAudio(item, index) {
        let mpeg = item.audio;
        let audioDom = this.$refs.audio;
        console.log(audioDom);
        let result = audioDom.filter(item => item.currentSrc == mpeg);
        let myAudio = result[0];
        console.log(myAudio);
        if (myAudio) {
          myAudio.addEventListener('ended', () => {
            console.log('stop');
            item.isAudioPlay = 0;
          })
          if (item.isAudioPlay == 0) {
            console.log(111);
            // this.messageList.forEach(v => {
            //   if (v.data.typ == 101) {
            //     v.data.content.isAudioPlay = 0;
            //   }
            // })
            item.isAudioPlay = 1;
            console.log('play');
            myAudio.play();
          } else if (item.isAudioPlay == 1) {
            item.isAudioPlay = 0;
            console.log('pause');
            myAudio.pause();
          }
        }
      },
      // 滚动到底部
      scrollToBottom() {
        let scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        let clientHeight = document.documentElement.clientHeight || document.body.clientHeighp;
        let scrollHeight = document.documentElement.scrollHeight || document.body.scrollHeight;
        let goTop = scrollHeight + 400;
        // console.log(goTop);
        // window.scrollTo({
        //   top: goTop,
        //   // behavior: "smooth"
        // });
        let target = this.$refs.target;
        console.log(target);
        target.scrollIntoView({block: "end"});
      }
    }
  })
</script>

</html>