<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>对话聊天</title>
  <link rel="stylesheet" href="{:REGISTER_PUBLIC}css/common/main.css">
  <link rel="stylesheet" href="{:REGISTER_PUBLIC}css/common/vant.css">
  <link rel="stylesheet" href="{:REGISTER_PUBLIC}css/chat/chat.css?v=<?php echo time(); php?>">
</head>

<body>
  <div id="app" :style="{'min-height': innerPage}" v-cloak>
    <van-nav-bar :title="navTitle" :fixed="true" left-arrow :right-text="isGroup ? '群管理' : null" @click-left="goback"
      @click-right="goGroupManage">
    </van-nav-bar>
    <van-notice-bar mode="closeable" left-icon="volume-o" :scrollable="true" :text="groupInfo.annoucement"
      @close="noticeClose" v-if="showNotice"></van-notice-bar>
    <!-- 聊天消息区 -->
    <div ref="chatList" :class="showContent ? 'message_wrap show' : 'message_wrap'">
      <van-list ref="message" class="message_list" v-model="loading" :finished="finished" finished-text="没有更多了"
        :immediate-check="false" direction="up" :offset="0" @load="onLoadList">
        <div :class="[item.from == sid ? 'item reverse' : 'item row']" v-for="(item, index) in messageList"
          :key="index">
          <div class="message_time" v-if="isShowTimes[index]">
            {{ item.data.from.time | accordingToNow }}
          </div>
          <div class="notice_wrap" v-if="item.data.typ == 110">{{item.data.content.content.txt}}</div>
          <div class="message_content" v-if="item.data.typ != 110">
            <div class="avatar">
              <img :src="item.data.from.avatar || default_avatar" alt="">
            </div>
            <div class="content">
              <div class="nickname" v-if="isGroup">{{item.data.from.name}}</div>
              <div class="bottom_wrap">
                <template v-if="item.from == sid">
                  <van-loading color="#ff770e" size="17" v-if="item.sendType == 0"></van-loading>
                  <img class="error_icon" :src="error" alt="" v-if="item.sendType == 2">
                </template>
                <div class="text" v-if="item.data.typ == 100">{{item.data.content.txt}}</div>
                <div class="img" @click="goShowImage(item)" v-if="item.data.typ == 104">
                  <img :src="item.data.content.img" alt="">
                </div>
                <div class="card" v-if="item.data.typ == 102" @click="goUserCard(item.data.content.card_id)">
                  <div class="title">{{item.data.content.card_name}}的{{item.data.content.card_brand}}的微名片请惠存！</div>
                  <div class="inner_wrap">
                    <div class="img_wrap">
                      <img :src="item.data.content.card_avatar" alt="">
                    </div>
                    <div class="right">
                      <p>姓名：{{item.data.content.card_name}}</p>
                      <p>品牌：{{item.data.content.card_brand}}</p>
                    </div>
                  </div>
                  <div class="footer">
                    <p>名片</p>
                  </div>
                </div>
                <div class="news_wrap" @click="_gOtherNews(item.data.content)" v-if="item.data.typ == 103">
                  <div class="news" v-if="item.data.content.length == 1">
                    <div class="title van-multi-ellipsis--l2">{{item.data.content[0].article_title}}</div>
                    <div class="bottom">
                      <p class="van-multi-ellipsis--l2">{{item.data.content[0].article_desc}}</p>
                      <img :src="item.data.content[0].article_pic" alt="">
                    </div>
                  </div>
                  <template v-else-if="item.data.content.length > 1">
                    <div class="news" v-for="(ite, idx) in item.data.content" :key="idx">
                      <div class="title van-multi-ellipsis--l2">{{ite.article_title}}</div>
                      <div class="bottom">
                        <p class="van-multi-ellipsis--l2">{{ite.article_desc}}</p>
                        <img :src="ite.article_pic" alt="">
                      </div>
                    </div>
                  </template>
                </div>
                <div class="audio" v-if="item.data.typ == 101">
                  <div class="audio_content" @click="goPlayAudio(item, index)">
                    <div class="sound_icon">
                      <template v-if="item.from == sid">
                        <img src="{:REGISTER_PUBLIC}img/chat/mysound.png" alt=""
                          v-if="item.data.content.isAudioPlay == 0">
                        <img src="{:REGISTER_PUBLIC}img/chat/mysound_on.gif" alt="" v-else>
                      </template>
                      <template v-else>
                        <img src="{:REGISTER_PUBLIC}img/chat/sound.png" alt=""
                          v-if="item.data.content.isAudioPlay == 0">
                        <img src="{:REGISTER_PUBLIC}img/chat/sound_on.gif" alt="" v-else>
                      </template>
                    </div>
                    <p class="audio_length">{{Math.round(item.data.content.duration)}}"</p>
                  </div>
                  <div class="noread" v-if="!item.data.content.is_listen"></div>
                  <audio ref="audio" :data-id="index" :src="item.data.content.audio" controls
                    style="display: none;"></audio>
                </div>
              </div>
            </div>
          </div>
        </div>
      </van-list>
    </div>
    <!-- 图片展示 -->
    <van-image-preview v-model="showPreview" :start-position="imageIndex" :images="chatImageList" :loop="false"
      @change="previewChange">
      <template v-slot:imageIndex>{{ imageIndex+1 }}/{{chatImageList.length}}</template>
    </van-image-preview>
    <!-- 聊天输入区 -->
    <div id="chat-footer">
      <div class="delayTip" v-if="delayTip&&delayTip<1000">延迟: {{delayTip + 'ms'|| '...'}}</div>
      <div class="input_wrap">
        <div class="left_wrap" @click="toggleContent">
          <img :src="minus" alt="" v-if="showContent">
          <img :src="plus" alt="" v-else>
        </div>
        <div class="content">
          <van-field v-model="typingText" rows="1" :autosize="{ maxHeight: 70 }" type="textarea" @blur="onBlur">
          </van-field>
          <!-- <input type="text" v-model="typingText" @blur="onBlur"> -->
          <div class="icon">
            <img :src="smile" alt="" @click="faceContent">
          </div>
        </div>
        <div class="submit" @click="sendText">发送</div>
      </div>
      <div class="content_wrap" v-show="showContent">
        <div class="apply_wrap" v-if="panelStatus == 0">
          <div class="item" v-for="(item, index) in applyList" :key="index" @click="applyItem(item.type)">
            <van-uploader :after-read="afterRead" v-if="index === 0">
              <img :src="item.icon" alt="" />
              <p>{{ item.title }}</p>
            </van-uploader>
            <template v-else>
              <img :src="item.icon" alt="" />
              <p>{{ item.title }}</p>
            </template>
          </div>
        </div>
        <div class="emoji_wrap" v-show="panelStatus == 1">
          <ul>
            <li v-for="(item, index) in faceList" :key="index" @click="getBrow(index)">
              {{ item }}
            </li>
          </ul>
        </div>
        <div class="record_wrap" v-show="panelStatus == 3">
          <div class="waveform">
            <img src="{:REGISTER_PUBLIC}img/chat/wave.png" alt="" v-if="!isStartRecord&&!finishRecord">
            <img src="{:REGISTER_PUBLIC}img/chat/wave_on.gif" alt="" v-else>
          </div>
          <div class="time_clock" v-show="isStartRecord || finishRecord">{{recordTime}}</div>
          <div :class="isStartRecord || finishRecord ? 'btn_wrap start' : 'btn_wrap'">
            <div class="record_btn" ref="recordBtn" v-show="!finishRecord">摁住说话</div>
            <div class="handle_wrap" v-show="finishRecord">
              <div class="btn cancel" @click="resetRecord">取消</div>
              <div class="btn send" @click="submitRecord">确认发送</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 资讯弹窗列表 -->
    <van-popup v-model="showNews">
      <div class="news_list">
        <div :class="item.checked ? 'item on' : 'item'" v-for="(item, index) in newsList" :key="index"
          @click="checkNews(item)">
          <div class="left_wrap">
            <img :src="item.cover" alt="">
          </div>
          <div class="right_wrap">
            <p class="van-multi-ellipsis--l2">{{item.description}}</p>
          </div>
        </div>
      </div>
      <div class="news_btn_wrap">
        <div class="cancel" @click="showNews=false">取消</div>
        <div class="submit" @click="sendNews">发送</div>
      </div>
    </van-popup>
    <!-- 消息铃声 -->
    <audio ref="bell" :src="bell" controls style="display: none;"></audio>
  </div>
</body>

<script src="{:REGISTER_PUBLIC}js/vue.min.js"></script>
<script src="{:REGISTER_PUBLIC}js/vue-resource.min.js"></script>
<script src="{:REGISTER_PUBLIC}js/vant.min.js?v=1.2"></script>
<script src="{:REGISTER_PUBLIC}js/jweixin-1.1.0.js"></script>
<script src="{:REGISTER_PUBLIC}js/moment.min.js"></script>
<script src="{:REGISTER_PUBLIC}js/moment-with-locales.min.js"></script>
<script src="{:REGISTER_PUBLIC}js/vconsole.min.js"></script>

<script>
  new VConsole();
  const URL = "{:H5_DOMAIN}";
  const API_URL = "{:API_DOMAIN}";
  const ROUTE_DETAIL_DOMAIN = "{:ROUTE_DETAIL_DOMAIN}"; //文章详情授权
  moment.locale('zh-cn'); // moment.js语言环境

  new Vue({
    el: '#app',
    data() {
      return {
        option: {}, // 页面url参数
        userInfo: {}, //用户信息对象
        groupInfo: {}, //群信息对象
        token: '',
        sid: '', //当前用户sid
        connectKey: '',
        navTitle: '', //导航标题
        delayTip: '', //服务器延迟
        websocket: null, //websocket对象
        isGroup: false, // 是否群聊
        isAdmin: false, // 是否管理员
        isLoadList: false, // 是否加载列表
        default_avatar: '{:REGISTER_PUBLIC}img/avatar/default_avatar.jpg',
        authUrl: "http://123.206.118.205:10800/auth?timestamp=" + new Date().valueOf(),
        wsServer: "ws://123.206.118.205:10800/io?timestamp=" + new Date().valueOf(), //ws请求地址
        lastid: 0, // 聊天记录分页id
        page: 1, // 页码
        pageSize: 20, // 每页条数
        loading: false, // 分页加载
        finished: false, // 结束分页加载
        showPreview: false, //展示图片详情
        showNotice: false, //显示滚动公告
        imageIndex: -1, // 展示图片下标
        recordTime: '00:00', // 录音时长计时
        recordTimer: null, // 录音定时器
        newsList: [], //资讯列表
        chatImageList: [], // 聊天记录图片数组
        oldSetHeight: 0, // 滚动高度
        // footer
        minus: '{:REGISTER_PUBLIC}img/chat/minus.png',
        plus: '{:REGISTER_PUBLIC}img/chat/plus.png',
        smile: '{:REGISTER_PUBLIC}img/chat/smile.png',
        error: '{:REGISTER_PUBLIC}img/chat/error_icon.png',
        bell: '{:REGISTER_PUBLIC}img/chat/bell.mp3',
        panelStatus: 0, // 聊天面板控制 0默认 1表情 2语音
        showContent: false, //显示面板
        showNews: false, // 显示资讯列表
        isStartRecord: false, // 是否正在录音
        finishRecord: false, // 录音完成
        typingText: "",
        faceString: "", //选中表情
        faceData: {}, //表情json
        faceList: [], //表情
        messageList: [],
        applyList: [{
          type: "image",
          icon: '{:REGISTER_PUBLIC}img/chat/image.png',
          title: "图片",
        }, {
          type: "news",
          icon: '{:REGISTER_PUBLIC}img/chat/news.png',
          title: "资讯",
        }, {
          type: "card",
          icon: '{:REGISTER_PUBLIC}img/chat/card.png',
          title: "名片",
        }, {
          type: "voice",
          icon: '{:REGISTER_PUBLIC}img/chat/voice.png',
          title: "语音",
        }, ],
      }
    },
    computed: {
      innerPage() {
        return window.innerHeight + 'px'
      },
      isShowTimes() {
        let lastTime = moment(0);
        return this.messageList.map(message => {
          const messageTime = moment(message.data.from.time);
          let diffTime = messageTime.diff(lastTime, 'minutes');

          if (diffTime >= 5) {
            lastTime = messageTime
            return true
          } else {
            return false
          }
        })
      },
      isShowNotice() {
        // console.log(obj);
        let lastTime = moment(0);
        let hasNotice = this.messageList.filter(letsome);
        // console.log(hasNotice);
        return this.messageList.map(message => {
          const messageTime = moment(message.data.from.time);
          let diffTime = messageTime.diff(lastTime, 'minutes');

          if (!hasNotice) {
            return true
          } else if (hasNotice && diffTime >= 1) {
            return true
          } else {
            return false
          }
        })

        function letsome(item) {
          let result = false;
          if (item.data.typ == 110) {
            item.from == obj.from ? result = true : result = false
          }
          return result
        }
      },
    },
    filters: {
      accordingToNow(date) {
        const time = moment(date);
        const now = moment();
        let diffMinutes = now.diff(time, 'minutes');
        let diffDays = now.diff(time, 'days');
        let diffYears = now.diff(time, 'years');

        if (diffDays < 1) {
          return time.format("a hh:mm");
        } else if (diffYears < 1) {
          return time.format("MoDo a hh:mm");
        } else {
          return time.format("LL a hh:mm");
        }
      }
    },
    mounted() {
      this.getUserInfo();
      this.initWxSDK();
      this.initAudioTouch();
    },
    updated() {
      // console.log('updated!!');
      // window.scrollTo(0, document.body.scrollHeight)
    },
    beforeDestroy() {
      let myAudio = this.$refs.audio;
      myAudio.remove();
      this.websocket.close();
      this.clearRecordCount();
    },
    methods: {
      // 获取url参数 判断单聊群聊
      getUrlQuery() {
        this.resetChatList();
        this.option.id = getQueryString('id');
        this.option.sid = getQueryString('sid');
        let type = getQueryString('type');
        if (type) {
          this.isGroup = true;
          this.getChatDetail(0, this.option.id, 1002);
          this.getGroupMsg();
        } else {
          this.isGroup = false;
          this.getChatDetail(0, this.option.id, 1001);
        }
        // 获取url参数
        function getQueryString(name, url) {
          var url = url || window.location.href;
          var reg = new RegExp("(^|&|/?)" + name + "=([^&|/#?]*)(&|/?|$)", "i");
          var r = url.substr(1).match(reg);
          if (r != null) {
            return r[2];
          }
          return null;
        }
      },
      // 获取个人信息
      getUserInfo() {
        this.$http.get(URL + "/H5/Visitor/getLoginInfo").then(
          res => {
            const {
              errCode,
              data,
              msg
            } = res.body;
            if (errCode === 0) {
              this.token = data.token;
              this.userInfo = data.userInfo;
              this.getUrlQuery()
              this.getEmoji();
              this.getOnlineMsg()
              this.getNewsList()
            }
          },
          err => {
            this.$toast({
              type: 'fail',
              message: '授权失败',
              duration: 1500,
            });
          }
        );
      },
      // 登录获取信息
      getOnlineMsg() {
        this.$http.get(URL + "/register/friend/online", {
          params: {
            token: this.token
          }
        }).then(
          res => {
            const {
              errCode,
              data,
              msg
            } = res.body;
            if (errCode === 0) {
              this.getWsAuth()
            }
          },
          err => {
            this.$toast({
              type: 'fail',
              message: '登录失败',
              duration: 1500,
            });
          }
        );
      },
      // ws授权
      getWsAuth() {
        let uri = this.authUrl;
        let token = this.token;
        if (token != null && token !== undefined) {
          uri += "&token=" + token;
        }
        this.$http.get(uri).then(
          res => {
            const {
              code,
              data,
              message
            } = res.body;
            if (code === 1) {
              this.connectKey = data.key;
              this.sid = data.sid;
              this.initWebSocket()
            }
          },
          err => {
            this.$toast({
              type: 'fail',
              message: '登录失败',
              duration: 1500,
            });
          }
        );
      },
      // 请求表情json
      getEmoji() {
        let faceData = localStorage.getItem('faceData');
        if (faceData) {
          this.faceData = JSON.parse(faceData);
          for (let i in this.faceData) {
            this.faceList.push(this.faceData[i].char);
          }
          return
        }
        this.$http.get(URL + "/register/friend/emoji", {
          params: {
            token: this.token
          }
        }).then(
          res => {
            const {
              errCode,
              data,
              msg
            } = res.body;
            if (errCode === 0) {
              this.faceData = data;
              localStorage.setItem('faceData', JSON.stringify(data));
              for (let i in this.faceData) {
                this.faceList.push(this.faceData[i].char);
              }
            }
          },
          err => {
            console.log('getEmoji 请求失败');
          }
        );
      },
      // 获取历史消息
      getChatDetail(last = 0, id, type) {
        this.$http.get(URL + "/register/friend/chat_detail", {
          params: {
            token: this.token,
            lastid: last,
            id: id,
            class: type
          }
        }).then(
          res => {
            const {
              errCode,
              data,
              msg
            } = res.body;
            if (errCode === 0) {
              let self = this;
              let result = data.list;
              this.lastid = data.lastid;
              this.navTitle = data.info.name || '聊天';
              if (data == null || result.length == 0) {
                // 加载结束
                this.loading = false;
                this.finished = true;
                return false
              }
              result.forEach(item => {
                if (item.data.typ == 101) {
                  this.$set(item.data.content, 'isAudioPlay', 0);
                }
                if (item.data.typ == 104) {
                  this.$set(item, 'imageIndex', ++this.imageIndex);
                  this.chatImageList.push(item.data.content.img);
                }
                this.messageList.unshift(item);
              })
              if (result.length < this.pageSize) {
                // 一页不足的情况
                this.loading = false;
                this.finished = true;
              } else {
                this.$nextTick(() => {
                  if (!this.isLoadList) {
                    this.scrollToBottom()
                  } else {
                    this.scrollToNext()
                  }
                  this.loading = false;
                })
              }
            }
          },
          err => {
            console.log('getChatDetail 请求失败');
          }
        );
      },
      // 发送消息请求
      sendChatMessage(obj) {
        this.$http.post(URL + "/register/friend/send_notice", obj, {
          emulateJSON: true
        }).then(
          res => {
            const {
              errCode,
              data,
              msg
            } = res.body;
            if (errCode === 0) {
              // console.log(data);
              this.showContent = false;
              this.panelStatus = 0;
              // this.ws.send(4 + JSON.stringify(data));
              // if (data.notice.data.typ == 101) {
              //   this.$set(data.notice.data.content, 'isAudioPlay', 0);
              // }
              // this.messageList.push(data.notice);
              // this.$nextTick(this.scrollToBottom);
              this.messageList.forEach(item => {
                if (item.send_id == data.send_id) {
                  item.sendType = 1
                }
              })
            }
          },
          err => {
            this.$toast({
              type: 'fail',
              message: '发送失败',
              duration: 1500,
            });
            console.log('sendChatMessage 请求失败');
          }
        );
      },
      // 请求设置已读消息
      getChatRead(type, id) {
        this.$http.get(URL + "/register/friend/read", {
          params: {
            token: this.token,
            class: type,
            id: id,
          }
        }).then(
          res => {
            const {
              errCode,
              data,
              msg
            } = res.body;
            if (errCode === 0) {}
          },
          err => {
            console.log('getChatRead 请求失败');
          }
        );
      },
      // 最近热门列表
      getNewsList() {
        this.$http
          .get(API_URL + "/news/getNewsList", {
            params: {
              token: this.token,
              vid: this.userInfo.vid,
              bid: this.userInfo.bid,
              ccid: -2,
              cate_id: this.userInfo.cate_id,
              page: 1,
              pageSize: 20,
            },
          })
          .then(
            res => {
              if (res.body.errCode === 0) {
                const data = res.body.data;
                if (data) {
                  this.newsList = data;
                }
              }
            },
            err => {
              console.log("getNewsList 请求失败");
            }
          );
      },
      // 获得群信息
      getGroupMsg() {
        this.$http.get(URL + "/register/group/info", {
          params: {
            token: this.token,
            id: this.option.id,
          }
        }).then(
          res => {
            const {
              errCode,
              data,
              msg
            } = res.body;
            if (errCode === 0) {
              data.is_manager == 1 ? this.isAdmin = true : this.isAdmin = false;
              this.groupInfo = data;
              this.isGroup && this.getChatOnlines();
              if (data.members > 0) {
                this.navTitle = `${this.groupInfo.name}(${this.groupInfo.members})`;
              } else {
                this.navTitle = `${this.groupInfo.name}`;
              }
              if (localStorage.getItem('showNotice')) {
                this.showNotice = false
              } else {
                this.showNotice = true
              };
              if (!data.annoucement || data.nouce_read == 1) return
              this.groupReadNotice({
                token: this.token,
                group_id: this.option.id
              })
            }
          },
          err => {
            console.log("getGroupInfo 请求失败");
          }
        );
      },
      // 用户进入群聊
      postGroupInchat(obj) {
        this.$http.post(URL + "/register/friend/inchat", obj, {
          emulateJSON: true
        }).then(
          res => {
            const {
              errCode,
              data,
              msg
            } = res.body;
            if (errCode === 0) {
              // console.log(this.webSocket);
            }
          },
          err => {
            console.log('postGroupInchat 请求失败');
          }
        );
      },
      // 群公告是否查看
      groupReadNotice(obj) {
        this.$http.post(URL + "/register/group/read_announce", obj, {
          emulateJSON: true
        }).then(
          res => {
            const {
              errCode,
              data,
              msg
            } = res.body;
            if (errCode === 0) {
              this.$dialog.alert({
                  title: '群公告',
                  message: this.groupInfo.annoucement,
                })
                .then(() => {
                  // on confirm
                })
                .catch(() => {
                  // on cancel
                });
            }
          },
          err => {
            console.log('groupReadNotice 请求失败');
          }
        );
      },
      // 语音置为已读
      audioIsListen(obj) {
        this.$http.post(URL + "/register/friend/listen_audio", obj, {
          emulateJSON: true
        }).then(
          res => {
            const {
              errCode,
              data,
              msg
            } = res.body;
            if (errCode === 0) {
              // console.log('listen_audio', data);
            }
          },
          err => {
            console.log('audioIsListen 请求失败');
          }
        );
      },
      // 获取群在线人数
      getChatOnlines() {
        this.$http.get(URL + "/register/group/onlines", {
          params: {
            token: this.token,
            sid: this.option.sid,
          }
        }).then(
          res => {
            const {
              errCode,
              data,
              msg
            } = res.body;
            if (errCode === 0) {
              // console.log(data);
              if (data.numbers > 0) {
                this.navTitle = `${this.groupInfo.name}(${data.numbers})`;
              } else {
                this.navTitle = `${this.groupInfo.name}`;
              }
            }
          },
          err => {
            console.log("getChatOnlines 请求失败");
          }
        );
      },
      // 载入微信sdk
      initWxSDK() {
        this.$http.get(`${URL}/H5/Share/getSign`, {
          params: {
            url: location.href
          }
        }).then(
          (response) => {
            if (response.body.errCode == 0) {
              let res = response.data.data;
              wx.config({
                debug: false,
                appId: res.appId,
                timestamp: res.timestamp,
                nonceStr: res.nonceStr,
                signature: res.signature,
                jsApiList: [
                  "startRecord",
                  "stopRecord",
                  "playVoice",
                  "pauseVoice",
                  "stopVoice",
                  "uploadVoice",
                ],
              });
              wx.ready(function () {
                // console.log('sdk ready');
              });
            } else {
              console.log("code is not 200");
            }
          },
          (err) => {
            console.log("请求失败");
          }
        );
      },
      // 载入websocket
      initWebSocket() {
        if (!"WebSocket" in window) {
          this.$toast({
            type: 'fail',
            message: '您的浏览器不支持WebSocket!',
          })
          return false
        }
        let self = this;
        let wsServer = this.wsServer + "&sid=" + this.sid + "&key=" + this.connectKey;
        let ws = new WebSocket(wsServer);
        initEventHandle();
        if (this.isGroup) {
          this.postGroupInchat({
            token: this.token,
            group_id: this.option.id
          });
        }
        // 初始化事件函数
        function initEventHandle() {
          ws.onopen = function (e) {
            // console.log('onopen>>', e);
            heartCheck.start();
          };
          ws.onmessage = function (e) {
            // console.log('onmessage>>', e.data);
            let res = e.data;
            let type = res.substring(0, 1);
            let str = e.data.substring(1);
            if (type == 4) {
              self.playbell();
              let obj = JSON.parse(str);
              if (obj.data.typ == 110) {
                self.messageList.push(obj);
              } else if (obj.from !== self.sid) {
                self.messageList.push(obj);
              }
              self.$nextTick(self.scrollToBottom);
              if (this.isGroup) {
                self.getChatRead(1002, self.option.id)
              } else {
                self.getChatRead(1001, self.option.id)
              }
            }
            heartCheck.reset();
          };
          ws.onerror = function (e) {
            // console.log('onerror>>', e);
            self.$toast({
              type: 'fail',
              message: '连接错误',
              duration: 1500,
            });
            reconnect(wsServer);
          };
          ws.onclose = function (e) {
            // console.log('onclose>>', e);
            self.$toast({
              type: 'fail',
              message: '连接关闭',
              duration: 1500,
            });
            reconnect(wsServer);
          };
          self.websocket = ws;
        }
        // 重连
        function reconnect(url) {
          if (reconnect.lockReconnect) return;
          reconnect.lockReconnect = true;
          setTimeout(function () {
            createWebSocket(url);
            reconnect.lockReconnect = false;
          }, 2000);
        }
        // 实例websocket
        function createWebSocket(url) {
          try {
            if ('WebSocket' in window) {
              // ws = new WebSocket(url);
              console.log('creat');
              self.getUserInfo();
              // console.log('creat websocket');
            } else {
              console.log("当前浏览器不支持websocket协议");
            }
          } catch (e) {
            // reconnect(url);
          }
        }
        // 心跳机制
        let heartCheck = {
          pingStart: 0,
          timeout: 5000,
          timeoutObj: null,
          serverTimeoutObj: null,
          reset: function () {
            let now = new Date().getTime();
            let delayTip = now - this.pingStart;
            self.delayTip = delayTip;
            // console.log(`%cdelay：${delayTip}ms`, "color:#FF00FF");
            clearTimeout(this.timeoutObj);
            clearTimeout(this.serverTimeoutObj);
            this.start();
          },
          start: function () {
            let _this = this;
            this.timeoutObj = setTimeout(function () {
              _this.pingStart = new Date().getTime();
              ws.send(2 + JSON.stringify({
                data: ""
              }));
              self.isGroup && self.getChatOnlines();
              // _this.serverTimeoutObj = setTimeout(function () {
              //   console.log('timeout');
              //   ws.close();
              //   reconnect(wsServer);
              // }, _this.timeout)
            }, this.timeout)
          },
        }
      },
      // 上拉加载请求方法
      onLoadList() {
        if (this.messageList.length >= this.pageSize && this.isLoadList) {
          setTimeout(() => {
            if (this.isGroup) {
              this.getChatDetail(this.lastid, this.option.id, 1002)
            } else {
              this.getChatDetail(this.lastid, this.option.id, 1001)
            }
          }, 600)
        }
      },
      // 切换显示面板
      toggleContent() {
        if (!this.showContent) {
          setTimeout(() => {
            this.$nextTick(this.scrollToBottom);
          })
        }
        this.showContent = !this.showContent;
        this.panelStatus = 0;
      },
      // 点击面板选项
      applyItem(type) {
        switch (type) {
          case "news":
            console.log("news");
            this.showNews = true;
            this.showContent = false;
            break;
          case "card":
            console.log("card");
            this.sendUserCard();
            break;
          case "voice":
            console.log("voice");
            this.panelStatus = 3;
            break;
          default:
            break;
        }
      },
      // 显示表情
      faceContent() {
        if (!this.showContent) {
          this.toggleContent();
        }
        if (this.panelStatus == 1) {
          this.panelStatus = 0;
          return false
        }
        this.panelStatus = 1;
      },
      // 获取用户点击之后的标签 ，存放到输入框内
      getBrow(index) {
        for (let i in this.faceList) {
          if (index == i) {
            this.faceString = this.faceList[index];
            this.typingText += this.faceString;
          }
        }
      },
      // 输入框失焦
      onBlur(e) {
        // console.log(e);
        // this.showContent = false;
        // this.panelStatus = 0;
        window.scrollTo(0, document.body.scrollHeight);
      },
      // 名片跳转
      goUserCard(id) {
        location.href = `/register/page/user_card?mid=${id}`
      },
      // 点击返回
      goback() {
        window.history.back(-1);
      },
      // 跳转群管理
      goGroupManage() {
        if (!this.option.id) {
          this.$toast({
            type: 'fail',
            message: '缺少群id',
            duration: 1500,
          });
          return false
        }
        location.href = `/register/page/group_manage?id=${this.option.id}`
      },
      // 发送文本消息
      sendText() {
        let msgId = this.randomCode();
        let obj = {
          token: this.token,
          class: this.isGroup ? 1002 : 1001,
          type: 100,
          toid: this.isGroup ? '' : this.option.id,
          group_id: this.isGroup ? this.option.id : '',
          content: this.typingText,
          send_id: msgId
        }
        this.messageList.push({
          data: {
            content: {
              txt: this.typingText
            },
            from: {
              avatar: this.userInfo.upic,
              id: this.option.id,
              name: this.userInfo.name,
              time: new Date(),
            },
            typ: 100
          },
          from: this.sid,
          send_id: msgId,
          sendType: 0,
        })
        this.$nextTick(this.scrollToBottom);
        this.sendChatMessage(obj);
        this.typingText = null;
        this.showContent = false;
        this.panelStatus = 0;
      },
      // 图片上传
      afterRead(file) {
        // console.log(file);
        let msgId = this.randomCode();
        let obj = {
          token: this.token,
          class: this.isGroup ? 1002 : 1001,
          type: 104,
          toid: this.isGroup ? '' : this.option.id,
          group_id: this.isGroup ? this.option.id : '',
          file: file.content,
          send_id: msgId
        }
        let msgObj = {
          data: {
            content: {
              img: file.content
            },
            from: {
              avatar: this.userInfo.upic,
              id: this.option.id,
              name: this.userInfo.name,
              time: new Date(),
            },
            typ: 104
          },
          from: this.sid,
          send_id: msgId,
          sendType: 0,
        }
        this.$dialog.alert({
            title: '消息提示',
            message: '确认发送图片？',
            confirmButtonColor: '#FF730C',
            showCancelButton: true,
          })
          .then(() => {
            this.messageList.push(msgObj);
            this.sendChatMessage(obj);
          })
          .catch(() => {
            // ...
          });
      },
      // 发送名片
      sendUserCard() {
        let msgId = this.randomCode();
        let obj = {
          token: this.token,
          class: this.isGroup ? 1002 : 1001,
          type: 102,
          toid: this.isGroup ? '' : this.option.id,
          group_id: this.isGroup ? this.option.id : '',
          send_id: msgId
        }
        let msgObj = {
          data: {
            content: {
              card_avatar: this.userInfo.upic,
              card_brand: this.userInfo.brand,
              card_id: this.userInfo.mid,
              card_name: this.userInfo.name
            },
            from: {
              avatar: this.userInfo.upic,
              id: this.option.id,
              name: this.userInfo.name,
              time: new Date(),
            },
            typ: 102
          },
          from: this.sid,
          send_id: msgId,
          sendType: 0,
        }
        this.$dialog.alert({
            title: '消息提示',
            message: '确认发送您的名片吗？',
            confirmButtonColor: '#FF730C',
            showCancelButton: true,
          })
          .then(() => {
            this.messageList.push(msgObj);
            this.sendChatMessage(obj);
          })
          .catch(() => {
            // ...
          });
      },
      // 选中文章
      checkNews(item) {
        let checked = item.checked ? true : false;
        this.$set(item, 'checked', !checked);
      },
      // 点击发送选中文章
      sendNews() {
        let msgId = this.randomCode();
        let result = this.newsList.filter(item => item.checked);
        let newArr = [];
        result.forEach(item => {
          newArr.push({
            cid: item.cid,
            article_id: item.id,
            article_title: item.title,
            article_desc: item.description,
            article_pic: item.cover
          })
        })
        this.$dialog.alert({
            title: '消息提示',
            message: '确认发送该文章吗？',
            confirmButtonColor: '#FF730C',
            showCancelButton: true,
          })
          .then(() => {
            this.sendChatMessage({
              token: this.token,
              class: this.isGroup ? 1002 : 1001,
              type: 103,
              toid: this.isGroup ? '' : this.option.id,
              group_id: this.isGroup ? this.option.id : '',
              article: JSON.stringify(newArr),
              send_id: msgId
            });
            this.messageList.push({
              data: {
                content: newArr,
                from: {
                  avatar: this.userInfo.upic,
                  id: this.option.id,
                  name: this.userInfo.name,
                  time: new Date(),
                },
                typ: 103
              },
              from: this.sid,
              send_id: msgId,
              sendType: 0,
            })
            this.showNews = false;
          })
          .catch(() => {
            // ...
          });
      },
      // 跳转文章详情
      _gOtherNews(item) {
        location.href =
          ROUTE_DETAIL_DOMAIN +
          "?nid=" +
          item.article_id +
          "&cid=" +
          item.cid +
          "&uid=" +
          this.userInfo.vid +
          "&proid=" +
          this.userInfo.vid +
          "&otherBid=" +
          this.userInfo.bid;
      },
      // 点击录音
      startRecord() {
        let self = this;
        wx.startRecord({
          success: function (res) {
            self.isStartRecord = true;
          },
          cancel: function () {
            console.log('用户拒绝授权录音');
          },
          fail: function (res) {
            //录音失败
            console.log('fail', res);
          }
        })
      },
      // 取消录音
      cancelRecord() {
        this.isStartRecord = false;
        this.finishRecord = false;
        this.recordTime = 0;
        this.stopRecord();
        this.clearRecordCount();
      },
      // 点击停止录音
      stopRecord(type) {
        let self = this;
        return new Promise((resolve, reject) => {
          wx.stopRecord({
            success: function (res) {
              let voiceId = res.localId;
              self.isStartRecord = false;
              if (type == 'send') {
                self.upLoadRecord(voiceId).then((res) => {
                  resolve(res);
                });
              } else {
                console.log('上传取消');
              }
            },
            fail: function (err) {
              console.log(JSON.stringify(err));
              reject(err);
            }
          });
        });
      },
      // 上传语音
      upLoadRecord(id) {
        let self = this;
        return new Promise((resolve, reject) => {
          wx.uploadVoice({
            localId: id,
            isShowProgressTips: 0, // 默认为1，显示进度提示
            success: function (res) {
              resolve(res.serverId);
            },
            fail: function (err) {
              console.log(JSON.stringify(res));
              reject(err);
            }
          });
        });
      },
      // 录制完毕处理
      doneRecord() {
        this.$toast.loading({
          message: '处理中...',
          forbidClick: true,
          duration: 0,
        });
        if (this.recordTime < 2) {
          this.$toast.clear();
          this.$toast({
            type: 'fail',
            message: '录制时间过短',
          });
          this.cancelRecord();
          this.resetRecord();
          return false
        }
        this.stopRecord('send').then(res => {
          this.$toast.clear();
          this.finishRecord = true;
          this.recordId = res;
        }).catch(err => {
          this.$toast.clear();
          this.$toast({
            type: 'fail',
            message: '上传失败，无法发送',
          });
        })
      },
      // 语音发送
      submitRecord() {
        if (!this.recordId) {
          this.$toast({
            type: 'fail',
            message: '缺少recordId',
          });
          return false
        }
        let obj = {
          token: this.token,
          class: this.isGroup ? 1002 : 1001,
          type: 101,
          toid: this.isGroup ? '' : this.option.id,
          group_id: this.isGroup ? this.option.id : '',
          file: this.recordId
        }
        this.sendChatMessage(obj);
        this.resetRecord();
      },
      // 重置录音状态
      resetRecord() {
        this.recordTime = 0;
        this.recordId = null;
        this.isStartRecord = false;
        this.finishRecord = false;
      },
      // 展示聊天图片
      goShowImage(item) {
        // console.log(item.imageIndex);
        // let result = this.messageList.filter(item => item.data.typ == 104);
        // console.log(result);
        this.imageIndex = item.imageIndex;
        this.showPreview = true;
      },
      // 图片展示监听
      previewChange(index) {
        this.imageIndex = index;
      },
      // 公告关闭事件
      noticeClose(e) {
        localStorage.setItem('showNotice', 1);
      },
      // 滚动到底部
      scrollToBottom() {
        this.oldSetHeight = this.$refs.message.$el.scrollHeight;
        console.log(this.oldSetHeight);
        this.$refs.chatList.scrollTop = 99999999;
        this.isLoadList = true;
      },
      // 聊天页面滚动
      scrollToNext() {
        let message = this.$refs.message;
        let newSetHeight = message.$el.scrollHeight;
        this.$refs.chatList.scrollTop = newSetHeight - this.oldSetHeight;
        this.oldSetHeight = newSetHeight;
        console.log(this.oldSetHeight);
      },
      // 播放/暂停音频
      goPlayAudio(data, index) {
        let self = this;
        let item = data.data.content;
        let audioDom = this.$refs.audio;
        let result = audioDom.filter(item => item.dataset.id == index);
        let myAudio = result[0];
        // console.log(myAudio);
        if (myAudio) {
          myAudio.addEventListener('ended', () => {
            console.log('stop');
            item.isAudioPlay = 0;
          })
          if (item.isAudioPlay == 0) {
            otherRadioStop();
            item.is_listen = 1;
            item.isAudioPlay = 1;
            console.log('play');
            myAudio.play();
            this.audioIsListen({
              token: this.token,
              tagid: data.tag
            })
          } else if (item.isAudioPlay == 1) {
            item.isAudioPlay = 0;
            console.log('pause');
            myAudio.pause();
          }
        }
        // 停止其他音频
        function otherRadioStop() {
          self.messageList.forEach(item => {
            item.data.content.isAudioPlay = 0;
          })
          audioDom.forEach(item => item.pause());
        }
      },
      // 录音计时器
      recordCount() {
        let count = 0,
          minute = 0,
          second = 0;
        this.recordTimer = setInterval(() => {
          ++count;
          second = showNum(count % 60);
          minute = showNum(parseInt(count / 60) % 60);
          this.recordTime = `${minute}:${second}`;
        }, 1000);

        function showNum(num) {
          return num < 10 ? "0" + num : num;
        }
      },
      // 清除定时器
      clearRecordCount() {
        clearInterval(this.recordTimer);
        this.recordTimer = null;
      },
      // 载入touch
      initAudioTouch() {
        let self = this;
        let btnElem = this.$refs.recordBtn; //获取ID
        let posStartX = 0; //初始化起点X坐标
        let posEndX = 0; //初始化终点X坐标
        let posMoveX = 0; //初始化滑动X坐标
        let posStartY = 0; //初始化起点Y坐标
        let posEndY = 0; //初始化终点Y坐标
        let posMoveY = 0; //初始化滑动Y坐标
        function initEvent() {
          btnElem.addEventListener("touchstart", function (event) {
            event.preventDefault();
            posStartX = 0;
            posStartY = 0;
            posStartX = event.touches[0].pageX;
            posStartY = event.touches[0].pageY;
            btnElem.innerHTML = '松开发送';
            self.startRecord();
            self.recordCount();
            console.log("start");
          });
          btnElem.addEventListener("touchmove", function (event) {
            event.preventDefault();
            posMoveX = 0;
            posMoveY = 0;
            posMoveX = event.targetTouches[0].pageX;
            posMoveY = event.targetTouches[0].pageY;
            if (posStartY - posMoveY < 40) {
              btnElem.innerHTML = '松开完成录音';
            } else {
              btnElem.innerHTML = '松开取消';
            }
          });
          btnElem.addEventListener("touchend", function (event) {
            event.preventDefault();
            posEndX = 0;
            posEndY = 0;
            posEndX = event.changedTouches[0].pageX;
            posEndY = event.changedTouches[0].pageY;
            btnElem.innerHTML = '按住说话';
            if (posStartY - posEndY < 40) {
              self.doneRecord();
              self.clearRecordCount();
              console.log("finish");
            } else {
              self.cancelRecord();
              self.clearRecordCount();
              console.log("cancel");
            };
          });
        };
        initEvent();
      },
      // 播放铃声
      playbell() {
        let bell = this.$refs.bell;
        bell.play();
      },
      // 消息随机id
      randomCode() {
        let codeStr = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
        let str = '';
        for (var i = 0; i < 8; i++) {
          let ran = getRandom(0, 62);
          str += codeStr.charAt(ran);
        }
        return str;
        // 生成随机整数
        function getRandom(n, m) {
          n = Number(n);
          m = Number(m);
          // 确保 m 始终大于 n
          if (n > m) {
            var temp = n;
            n = m;
            m = temp;
          }
          return Math.floor(Math.random() * (m - n) + n);
        }
      },
      // 重置聊天
      resetChatList() {
        this.messageList = [];
        this.lastid = 0;
        this.pageSize = 20;
        this.isGroup = false;
        this.loading = false;
        this.finished = false;
      }
    }
  })
</script>

</html>