<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>群管理</title>
  <link rel="stylesheet" href="{:REGISTER_PUBLIC}css/common/main.css">
  <link rel="stylesheet" href="{:REGISTER_PUBLIC}css/common/vant.css">
  <link rel="stylesheet" href="{:REGISTER_PUBLIC}css/group_manage/group_manage.css?v=<?php echo time(); php?>">
</head>

<body>
  <div id="app" :style="{'min-height': innerPage}" v-cloak>
    <div class="manage_wrap" v-if="showWrap == 0">
      <div class="header">
        <div class="member_wrap">
          <div class="avatar">
            <img :src="groupInfo.head_img" alt="">
          </div>
          <div class="information">
            <div class="group_name">{{groupInfo.name}}</div>
            <div class="group_id">ID:{{groupInfo.id}}</div>
          </div>
        </div>
        <div class="detail_wrap" @click="showWrap=1">
          <p class="van-multi-ellipsis--l2">群简介：<span>{{groupInfo.sign}}</span></p>
          <div class="arrow">❯</div>
        </div>
      </div>
      <div class="container">
        <div class="item" v-for="(item, index) in applyList" :key="index" @click="goNext(item)">
          <img :src="item.icon" alt="">
          <p>{{item.title}}</p>
        </div>
      </div>
    </div>
    <div class="detail_wrap" v-if="showWrap == 1">
      <van-nav-bar title="群简介" left-arrow @click-left="goback"></van-nav-bar>
      <div class="content">
        <h3>群简介</h3>
        <div class="text_area">
          <van-field v-model="detail" rows="3" type="textarea" maxlength="40" placeholder="请输入您的群简介..."
            show-word-limit />
        </div>
      </div>
      <div class="bottom_wrap">
        <van-divider>仅群主及群管理员可编辑</van-divider>
        <van-button plain round block color="#FF7E10" :loading="loading" :disabled="disabled" @click="editDetail">编辑
        </van-button>
      </div>
    </div>
  </div>
</body>

<script src="{:REGISTER_PUBLIC}js/vue.min.js"></script>
<script src="{:REGISTER_PUBLIC}js/vue-resource.min.js"></script>
<script src="{:REGISTER_PUBLIC}js/vant.min.js?v=1.2"></script>

<script>
  const URL = "{:H5_DOMAIN}";

  new Vue({
    el: '#app',
    data() {
      return {
        token: '',
        userInfo: {},
        groupInfo: {
          head_img: '{:REGISTER_PUBLIC}img/default_avatar.png',
          id: '无',
          name: '暂无信息',
          sign: '暂无内容'
        },
        groupId: '', // 群id
        detail: '', // 群简介
        showWrap: 0, // 展示群简介
        loading: false,
        disabled: false,
        applyList: [{
          icon: '{:REGISTER_PUBLIC}img/group_manage/member_icon.png',
          title: '群成员',
          type: 'member'
        }, {
          icon: '{:REGISTER_PUBLIC}img/group_manage/notice_icon.png',
          title: '群公告',
          type: 'notice'
        }, {
          icon: '{:REGISTER_PUBLIC}img/group_manage/friend_icon.png',
          title: '邀请好友',
          type: 'invite'
        }, {
          icon: '{:REGISTER_PUBLIC}img/group_manage/advice_icon.png',
          title: '投诉建议',
          type: 'advice'
        }]
      }
    },
    computed: {
      innerPage() {
        return window.innerHeight + 'px'
      }
    },
    mounted() {
      this.getUrlQuery()
    },
    methods: {
      // 获取url参数
      getUrlQuery() {
        let id = getQueryString('id');
        if (id) {
          this.groupId = getQueryString('id')
          this.getUserInfo();
        } else {
          this.disabled = true;
          this.$toast({
            type: 'fail',
            message: '缺少群id',
            duration: 1500,
          });
        }
        // 获取url参数
        function getQueryString(name, url) {
          var url = url || window.location.href;
          var reg = new RegExp("(^|&|/?)" + name + "=([^&|/#?]*)(&|/?|$)", "i");
          var r = url.substr(1).match(reg);
          if (r != null) {
            return r[2];
          }
          return null;
        }
      },
      // 获取个人信息
      getUserInfo() {
        this.$http.get(URL + "/H5/Visitor/getLoginInfo").then(
          res => {
            const {
              errCode,
              data,
              msg
            } = res.body;
            if (errCode === 0) {
              this.userInfo = data.userInfo;
              this.token = data.token;
              this.getGroupInfo()
            }
          },
          err => {
            this.$toast({
              type: 'fail',
              message: '授权失败',
              duration: 1500,
            });
            console.log("getLoginInfo 请求失败");
          }
        );
      },
      // 获取群信息
      getGroupInfo() {
        this.$http.get(URL + "/register/group/info", {
          params: {
            token: this.token,
            id: this.groupId,
          }
        }).then(
          res => {
            const {
              errCode,
              data,
              msg
            } = res.body;
            if (errCode === 0) {
              this.groupInfo = data;
              this.detail = data.sign;
            }
          },
          err => {
            console.log("getGroupInfo 请求失败");
          }
        );
      },
      // 群简介编辑
      editGroupDetail(obj) {
        this.$http.post(URL + "/register/group/sign_edit", obj, {
          emulateJSON: true
        }).then(
          res => {
            const {
              errCode,
              data,
              msg
            } = res.body;
            if (errCode === 0) {
              this.$toast({
                type: 'success',
                message: '编辑成功',
                duration: 1500,
              });
              this.showWrap = 0;
            } else {
              this.$toast({
                type: 'fail',
                message: msg
              });
            }
          },
          err => {
            console.log('editGroupDetail 请求失败');
          }
        );
      },
      // 跳转集合
      goNext(item) {
        switch (item.type) {
          case 'member':
            location.href = '/register/page/group_member?id=' + this.groupId;
            break;
          case 'notice':
            location.href = '/register/page/group_notice?id=' + this.groupId;
            break;
          case 'invite':
            location.href = '/register/page/group_invite?id=' + this.groupId;
            break;
          case 'advice':
            location.href = '/register/page/group_advice?id=' + this.groupId;
            break;
          default:
            break;
        }
      },
      // 群简介编辑
      editDetail() {
        if (!this.detail) {
          this.$toast({
            type: 'fail',
            message: '请输入群简介'
          });
          return false
        }
        this.editGroupDetail({
          token: this.token,
          id: this.groupInfo.id,
          sign: this.detail
        })
      },
      // 点击返回
      goback() {
        this.showWrap = 0;
      },
    }
  })
</script>

</html>