<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>邀请好友</title>
  <link rel="stylesheet" href="{:REGISTER_PUBLIC}css/common/main.css">
  <link rel="stylesheet" href="{:REGISTER_PUBLIC}css/common/vant.css">
  <link rel="stylesheet" href="{:REGISTER_PUBLIC}css/group_invite/group_invite.css?v=<?php echo time(); php?>">
</head>

<body>
  <div id="app" :style="{'min-height': innerPage}" v-cloak>
    <van-nav-bar title="邀请好友" left-arrow @click-left="goback"></van-nav-bar>
    <div class="container" v-show="isLoaded">
      <div class="share_wrap" v-if="showWrap == 0">
        <div class="top">
          <img :src="groupInfo.head_img" alt="">
          <p class="van-ellipsis">{{groupInfo.name}}</p>
        </div>
        <div class="bottom">
          <img :src="qrcodeImg" alt="">
          <p>长按识别二维码加入群聊</p>
        </div>
      </div>
      <div class="join_wrap" v-if="showWrap == 1">
        <div class="top">
          <img :src="groupInfo.head_img" alt="">
          <p class="van-ellipsis">{{groupInfo.name}}</p>
        </div>
        <div class="join_btn" @click="applyJoin">+申请加入</div>
      </div>
    </div>
    <!-- 二维码根节点 -->
    <div style="display: none;">
      <div id="canvasCode"></div>
    </div>
  </div>
</body>

<script src="{:REGISTER_PUBLIC}js/vue.min.js"></script>
<script src="{:REGISTER_PUBLIC}js/vue-resource.min.js"></script>
<script src="{:REGISTER_PUBLIC}js/vant.min.js?v=1.2"></script>
<script src="{:RES_FILES}/common/js/jquery-1.8.3.min.js"></script>
<script src="{:RES_FILES}/common/js/jquery.qrcode.min.js"></script>

<script>
  const URL = "{:H5_DOMAIN}";

  new Vue({
    el: '#app',
    data() {
      return {
        token: '',
        pid: '', // 链接中上级vid
        groupId: '',
        userInfo: {},
        groupInfo: {
          head_img: '{:REGISTER_PUBLIC}/img/default_avatar.png',
          name: '暂无内容',
        },
        qrcodeImg: '', // 生成二维码
        showWrap: 0, // 状态显示页面 0分享 1加入
        isLoaded: false, // 是否加载完毕
        isMember: false, // 当前用户是否是群员
      }
    },
    computed: {
      innerPage() {
        return window.innerHeight + 'px'
      }
    },
    mounted() {
      this.getUrlQuery();
      this.getUserInfo();
    },
    methods: {
      // 获取url参数
      getUrlQuery() {
        let id = getQueryString('id');
        let pid = getQueryString('pid');
        if (pid) this.pid = pid;
        if (id) {
          this.groupId = id;
          if (getQueryString('pid')) {
            this.showWrap = 1;
          }
        } else {
          this.$toast({
            type: 'fail',
            message: '缺少群id',
            duration: 1500,
          });
        }
        // 获取url参数
        function getQueryString(name, url) {
          var url = url || window.location.href;
          var reg = new RegExp("(^|&|/?)" + name + "=([^&|/#?]*)(&|/?|$)", "i");
          var r = url.substr(1).match(reg);
          if (r != null) {
            return r[2];
          }
          return null;
        }
      },
      // 获取个人信息
      getUserInfo() {
        this.$http.get(URL + "/H5/Visitor/getLoginInfo").then(
          res => {
            const {
              errCode,
              data,
              msg
            } = res.body;
            if (errCode === 0) {
              this.token = data.token;
              this.userInfo = data.userInfo;
              this.getGroupInfo(this.groupId);
            }
          },
          err => {
            this.$toast({
              type: 'fail',
              message: '授权失败',
              duration: 1500,
            });
          }
        );
      },
      // 获取群信息
      getGroupInfo(id) {
        this.$http.get(URL + "/register/group/info", {
          params: {
            token: this.token,
            id: id,
          }
        }).then(
          res => {
            const {
              errCode,
              data,
              msg
            } = res.body;
            if (errCode === 0) {
              this.groupInfo = data;
              this.$toast.loading({
                message: '加载中...',
                forbidClick: true,
                duration: 0,
                onClose: () => {
                  this.isLoaded = true;
                }
              });
              if (this.showWrap == 0) {
                this.getQRCanvasCode();
              } else if (data.is_member) {
                setTimeout(() => {
                  this.$toast({
                    type: 'fail',
                    message: '您已是群员',
                    forbidClick: true,
                    duration: 1600,
                    onClose: () => {
                      this.goGroupChat();
                    }
                  });
                }, 500)
                // this.clearToast();
              } else {
                this.clearToast()
              }
            }
          },
          err => {
            console.log("getGroupInfo 请求失败");
          }
        );
      },
      // 申请加入请求
      goJoinGroup(obj) {
        this.$http.post(URL + "/register/friend/invite", obj, {
          emulateJSON: true
        }).then(
          res => {
            const {
              errCode,
              data,
              msg
            } = res.body;
            if (errCode === 0) {
              this.$toast({
                type: 'success',
                message: '申请成功',
                duration: 1500,
                onClose: () => {
                  this.goGroupChat();
                }
              });
            } else {
              this.$toast({
                type: 'fail',
                message: msg,
                duration: 1500,
                onClose: () => {
                  this.goback();
                }
              });
            }
          },
          err => {
            console.log('goJoinGroup 请求失败');
          }
        );
      },
      //生成分享二维码
      getQRCanvasCode() {
        const vid = this.userInfo.mid;
        const qr =
          `${URL}/register/page/group_invite?id=${this.groupId}&sid=${this.groupInfo.sid}&pid=${vid}`;
        const qrcode = $("#canvasCode")
          .qrcode({
            render: "canvas", //也可以替换为table
            width: 120,
            height: 120,
            text: qr,
            /*可以通过ajax请求动态设置*/
          })
          .hide();
        let qrcode_canvas = qrcode.find("canvas").get(0);
        this.qrcodeImg = qrcode_canvas.toDataURL("image/jpg");
        this.clearToast()
      },
      // 点击返回
      goback() {
        // location.href = '/register/page/group_manage?id=' + this.groupId;
        window.history.back(-1);
      },
      // 跳转群聊
      goGroupChat() {
        location.href = `/register/page/chat?id=${this.groupId}&sid=${this.groupInfo.sid}&group=1`;
      },
      // 加载完毕
      clearToast() {
        setTimeout(() => {
          this.$toast.clear()
        }, 400)
      },
      // 点击申请加入
      applyJoin() {
        this.$dialog.alert({
            title: '提示',
            message: '申请加入该群？',
            confirmButtonColor: '#FF730C',
            showCancelButton: true,
          })
          .then(() => {
            this.goJoinGroup({
              token: this.token,
              group_id: this.groupId,
              pid: this.pid
            })
          })
          .catch(() => {
            // ...
          });
      }
    }
  })
</script>

</html>