<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>投诉建议</title>
  <link rel="stylesheet" href="{:REGISTER_PUBLIC}css/common/main.css">
  <link rel="stylesheet" href="{:REGISTER_PUBLIC}css/common/vant.css">
  <link rel="stylesheet" href="{:REGISTER_PUBLIC}css/group_advice/group_advice.css?v=<?php echo time(); php?>">
</head>

<body>
  <div id="app" :style="{'min-height': innerPage}" v-cloak>
    <van-nav-bar title="投诉建议" left-arrow @click-left="goback"></van-nav-bar>
    <div class="container">
      <h3>投诉建议</h3>
      <div class="text_area">
        <van-field v-model="advice" rows="3" type="textarea" maxlength="40" placeholder="请输入您的投诉建议..."
          show-word-limit />
      </div>
      <h3>上传图片<span>（最多2张）</span></h3>
      <van-uploader v-model="fileList" :after-read="afterRead" :max-count="2" :max-size="8 * 1024 * 1024"
        @oversize="onOversize" multiple>
      </van-uploader>
    </div>
    <van-button plain round block :disabled="disabled" @click="editAdvice">提交</van-button>
  </div>
</body>

<script src="{:REGISTER_PUBLIC}js/vue.min.js"></script>
<script src="{:REGISTER_PUBLIC}js/vue-resource.min.js"></script>
<script src="{:REGISTER_PUBLIC}js/vant.min.js?v=1.2"></script>

<script>
  const URL = "{:H5_DOMAIN}";

  new Vue({
    el: '#app',
    data() {
      return {
        token: '',
        groupId: '',
        userInfo: {},
        advice: '', // 投诉建议
        fileList: [], // 图片列表
        adivceImg: [], // 上传后的图片列表
        isMember: false, // 当前用户是否是群员
        loading: false,
        disabled: false
      }
    },
    computed: {
      innerPage() {
        return window.innerHeight + 'px'
      }
    },
    mounted() {
      this.getUrlQuery();
    },
    methods: {
      // 获取url参数
      getUrlQuery() {
        let id = getQueryString('id');
        if (id) {
          this.groupId = id;
          this.getUserInfo();
        } else {
          this.disabled = true;
          this.$toast({
            type: 'fail',
            message: '缺少群id',
            duration: 1500,
          });
        }
        // 获取url参数
        function getQueryString(name, url) {
          var url = url || window.location.href;
          var reg = new RegExp("(^|&|/?)" + name + "=([^&|/#?]*)(&|/?|$)", "i");
          var r = url.substr(1).match(reg);
          if (r != null) {
            return r[2];
          }
          return null;
        }
      },
      // 获取个人信息
      getUserInfo() {
        this.$http.get(URL + "/H5/Visitor/getLoginInfo").then(
          res => {
            const {
              errCode,
              data,
              msg
            } = res.body;
            if (errCode === 0) {
              this.token = data.token;
              this.userInfo = data.userInfo;
            }
          },
          err => {
            this.$toast({
              type: 'fail',
              message: '授权失败',
              duration: 1500,
            });
          }
        );
      },
      // 上传图片请求
      uploadImg(obj, item) {
        this.$http.post(URL + "/register/friend/upload", obj, {
          emulateJSON: true
        }).then(
          res => {
            const {
              errCode,
              data,
              msg
            } = res.body;
            if (errCode === 0) {
              this.adivceImg.push(data.url);
            }
          },
          err => {
            console.log('uploadImg 请求失败');
          }
        );
      },
      // 提交投诉建议
      postAdvice(obj, item) {
        this.$http.post(URL + "/register/group/suggest", obj, {
          emulateJSON: true
        }).then(
          res => {
            const {
              errCode,
              data,
              msg
            } = res.body;
            if (errCode === 0) {
              this.advice = '';
              this.fileList = [];
              this.adivceImg = [];
              this.$toast({
                type: 'success',
                message: '提交成功'
              });
            } else {
              this.$toast({
                type: 'fail',
                message: msg
              });
            }
          },
          err => {
            console.log('postAdvice 请求失败');
          }
        );
      },
      // 点击返回
      goback() {
        location.href = '/register/page/group_manage?id=' + this.groupId;
        // window.history.back(-1);
      },
      // 点击编辑
      editAdvice() {
        if (!this.groupId) {
          this.$toast({
            type: 'fail',
            message: '缺少群id'
          });
          return false
        }
        if (!this.advice) {
          this.$toast({
            type: 'fail',
            message: '请输入建议'
          });
          return false
        }
        this.$toast.loading({
          message: '加载中...',
          forbidClick: true,
          duration: 1000,
          onClose: () => {
            this.postAdvice({
              token: this.token,
              id: this.groupId,
              content: this.advice,
              pictures: this.adivceImg
            })
          }
        });
      },
      // 超出大小限制处理
      onOversize() {
        this.$toast({
          type: 'fail',
          message: '图片超过8M',
          duration: 1800,
        });
      },
      // 上传前处理
      afterRead(file) {
        // console.log(file);
        if (file.length) {
          file.forEach((item, index) => {
            this.uploadImg({
              token: this.token,
              file: item.content,
            }, item)
          });
        } else {
          this.uploadImg({
            token: this.token,
            file: file.content
          }, file)
        }
      },
    }
  })
</script>

</html>