<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>积分商城</title>
  <link rel="stylesheet" href="{:REGISTER_PUBLIC}css/common/main.css">
  <link rel="stylesheet" href="{:REGISTER_PUBLIC}css/common/vant.css">
  <link rel="stylesheet" href="{:REGISTER_PUBLIC}css/integral/integral.css?v=<?php echo time(); php?>">
</head>

<style>
</style>

<body>
  <div id="app" :style="{'min-height': innerPage}" v-cloak>
    <div class="header">
      <div class="point_wrap">
        <p>{{signObj.integral}}</p>
        <span>我的积分</span>
      </div>
      <a class="link" href="/register/page/integral_detail">积分明细</a>
    </div>
    <div class="inner_wrap">
      <div class="item">
        <p>{{signObj.total_integral}}</p>
        <span>总积分</span>
      </div>
      <div class="item">
        <p>{{signObj.integral_use}}</p>
        <span>已消耗</span>
      </div>
    </div>
    <div class="wrap"></div>
    <div class="content_wrap">
      <div class="title">勋章<span>({{totalNum}})</span></div>
      <div class="content">
        <div :class="[signObj.is_silver ? 'item disabled' : 'item']">
          <div class="icon_wrap">
            <div class="icon">
              <img src="{:REGISTER_PUBLIC}img/integral/silver.png" alt="" v-if="signObj.is_silver">
              <img src="{:REGISTER_PUBLIC}img/integral/silver_on.png" alt="" v-else>
              <p class="fixed" v-if="signObj.is_silver">已领</p>
            </div>
            <p class="text">圆梦人白银荣誉勋章</p>
          </div>
          <div class="btn_wrap" @click="goConvert(1)">
            <p v-if="signObj.is_silver">已兑换</p>
            <p v-else-if="signObj.total_integral>=120">可兑换</p>
            <p v-else>兑换</p>
          </div>
        </div>
        <div :class="[signObj.is_gold ? 'item disabled' : 'item']">
          <div class="icon_wrap">
            <div class="icon">
              <img src="{:REGISTER_PUBLIC}img/integral/gold.png" alt="" v-if="signObj.is_gold">
              <img src="{:REGISTER_PUBLIC}img/integral/gold_on.png" alt="" v-else>
              <p class="fixed" v-if="signObj.is_gold">已领</p>
            </div>
            <p class="text">圆梦人黄金荣誉勋章</p>
          </div>
          <div class="btn_wrap" @click="goConvert(2)">
            <p v-if="signObj.is_gold">已兑换</p>
            <p v-else-if="signObj.total_integral>=240">可兑换</p>
            <p v-else>兑换</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<script src="{:REGISTER_PUBLIC}js/vue.min.js"></script>
<script src="{:REGISTER_PUBLIC}js/vue-resource.min.js"></script>
<script src="{:REGISTER_PUBLIC}js/vant.min.js?v=1.2"></script>

<script>
  const URL = "{:H5_DOMAIN}";

  new Vue({
    el: '#app',
    data() {
      return {
        token: '',
        totalNum: 0, //勋章数量
        userInfo: {},
        signObj: {}, // 积分信息
        dataList: []
      }
    },
    computed: {
      innerPage() {
        return window.innerHeight + 'px'
      }
    },
    mounted() {
      this.getUserInfo()
    },
    methods: {
      // 获取个人信息
      getUserInfo() {
        this.$http.get(URL + "/H5/Visitor/getLoginInfo").then(
          res => {
            const {
              errCode,
              data,
              msg
            } = res.body;
            if (errCode === 0) {
              this.token = data.token;
              this.userInfo = data.userInfo
              this.getSignMsg()
            }
          },
          err => {
            this.$toast({
              type: 'fail',
              message: '登录失败',
              duration: 1500,
            });
          }
        );
      },
      // 获取积分信息
      getSignMsg() {
        this.$http.get(URL + "/register/user/index", {
          params: {
            token: this.token
          }
        }).then(
          res => {
            const {
              errCode,
              data,
              msg
            } = res.body;
            if (errCode === 0) {
              this.signObj = data;
              this.totalNum = data.is_silver * 1 + data.is_gold * 1
            }
          },
          err => {
            console.log("getSignMsg 请求失败");
          }
        );
      },
      // 兑换勋章请求
      getConvert(type) {
        this.$http.get(URL + "/register/user/convert", {
          params: {
            token: this.token,
            type: type
          }
        }).then(
          res => {
            const {
              errCode,
              data,
              msg
            } = res.body;
            if (errCode === 0) {
              this.getSignMsg()
              this.$toast({
                type: 'success',
                message: '领取成功！',
                duration: 1200,
              })
            } else {
              this.$toast({
                type: 'fail',
                message: msg,
                duration: 1500
              })
            }
          },
          err => {
            console.log("getConvert 请求失败");
          }
        );
      },
      // 兑换勋章
      goConvert(type) {
        if (!this.token) {
          this.$toast({
            type: 'fail',
            message: '缺少token',
            duration: 1500,
          });
          return false
        }
        switch (type) {
          case 1:
            if (this.signObj.is_silver) {
              this.$toast({
                type: 'fail',
                message: '您已拥有白银勋章',
                forbidClick: true,
                duration: 1200,
              });
              return false
            }
            if (this.signObj.total_integral < 120) {
              this.$toast({
                type: 'fail',
                message: '需要120积分才能兑换哦~',
                forbidClick: true,
                duration: 1200,
              });
              return false
            }
            break;
          case 2:
            if (this.signObj.is_gold) {
              this.$toast({
                type: 'fail',
                message: '您已拥有黄金勋章',
                forbidClick: true,
                duration: 1200,
              });
              return false
            }
            if (this.signObj.total_integral < 240) {
              this.$toast({
                type: 'fail',
                message: '需要240积分才能兑换哦~',
                forbidClick: true,
                duration: 1200,
              });
              return false
            }
            break;

          default:
            break;
        }
        this.$toast.loading({
          message: '领取中...',
          forbidClick: true,
          duration: 800,
          onClose: () => {
            this.getConvert(type)
          }
        });
      },
    }
  })
</script>

</html>