<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>消息</title>
  <link rel="stylesheet" href="{:REGISTER_PUBLIC}css/common/main.css">
  <link rel="stylesheet" href="{:REGISTER_PUBLIC}css/common/vant.css">
  <link rel="stylesheet" href="{:REGISTER_PUBLIC}css/message_list/message_list.css?v=<?php echo time(); php?>">
</head>

<body>
  <div id="app" :style="{'min-height': innerPage}" v-cloak>
    <div class="data_list">
      <!-- <template v-for="(item, index) in dataList" :key="index">
        <van-swipe-cell>
          <div class="item" @click="goChat(item)">
            <div class="avatar">
              <img :src="item.avatar" alt="">
              <div class="tips" v-if="item.unread > 0">{{item.unread}}</div>
            </div>
            <div class="content">
              <div class="top_wrap">
                <div class="name" @dblclick.stop="goDelete(index)">
                  <span v-if="item.class == 1002">群聊</span>
                  <p>{{item.group_name}}</p>
                </div>
                <p class="time">{{item.add_time | accordingToNow}}</p>
              </div>
              <div class="sign" v-if="item.type == 100">{{item.content}}</div>
              <div class="sign" v-if="item.type == 104">[图片]</div>
              <div class="card" v-if="item.type == 102">
                <div class="title van-multi-ellipsis--l2">{{item.card_name}}的{{item.card_brand}}的微名片请惠存！</div>
                <div class="inner_wrap">
                  <div class="img_wrap">
                    <img :src="item.card_avatar" alt="">
                  </div>
                  <div class="right">
                    <p>姓名：{{item.card_name}}</p>
                    <p>品牌：{{item.card_brand}}</p>
                  </div>
                </div>
                <div class="footer">
                  <p>名片</p>
                </div>
              </div>
              <div class="news" v-if="item.type == 103">
                <div class="title">{{item.article_title}}</div>
                <div class="bottom">
                  <p class="van-multi-ellipsis--l2">{{item.article_desc}}</p>
                  <img :src="item.article_pic" alt="">
                </div>
              </div>
            </div>
          </div>
          <template #right>
            <van-button square type="danger" text="删除" class="delete-button" @click="goDelete(index)" />
          </template>
        </van-swipe-cell>
      </template> -->

      <div class="item" v-for="(item, index) in dataList" :key="index" @click="goChat(item)">
        <div class="avatar">
          <img :src="item.avatar" alt="">
          <div class="tips" v-if="item.unread > 0">{{item.unread}}</div>
        </div>
        <div class="content">
          <div class="top_wrap">
            <div class="name" @dblclick.stop="goDelete(index)">
              <span v-if="item.class == 1002">群聊</span>
              <p>{{item.group_name}}</p>
            </div>
            <p class="time">{{item.add_time | accordingToNow}}</p>
          </div>
          <div class="sign" v-if="item.type == 100">{{item.content}}</div>
          <div class="sign" v-if="item.type == 101">[语音]</div>
          <div class="sign" v-if="item.type == 104">[图片]</div>
          <div class="card" v-if="item.type == 102">
            <div class="title van-multi-ellipsis--l2">{{item.card_name}}的{{item.card_brand}}的微名片请惠存！</div>
            <div class="inner_wrap">
              <div class="img_wrap">
                <img :src="item.card_avatar" alt="">
              </div>
              <div class="right">
                <p>姓名：{{item.card_name}}</p>
                <p>品牌：{{item.card_brand}}</p>
              </div>
            </div>
            <div class="footer">
              <p>名片</p>
            </div>
          </div>
          <div class="news" v-if="item.type == 103">
            <div class="title">{{item.content[0].article_title}}</div>
            <div class="bottom">
              <p class="van-multi-ellipsis--l2">{{item.content[0].article_desc}}</p>
              <img :src="item.content[0].article_pic" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <audio ref="bell" :src="bell" controls style="display: none;"></audio>
  </div>
</body>

<script src="{:REGISTER_PUBLIC}js/vue.min.js"></script>
<script src="{:REGISTER_PUBLIC}js/vue-resource.min.js"></script>
<script src="{:REGISTER_PUBLIC}js/vant.min.js?v=1.2"></script>
<script src="{:REGISTER_PUBLIC}js/moment.min.js"></script>
<script src="{:REGISTER_PUBLIC}js/moment-with-locales.min.js"></script>
<script src="{:REGISTER_PUBLIC}js/vconsole.min.js"></script>

<script>
  // new VConsole();
  const URL = "{:H5_DOMAIN}";
  moment.locale('zh-cn'); // moment.js语言环境

  new Vue({
    el: '#app',
    data() {
      return {
        token: '',
        sid: '',
        connectKey: '',
        webSocket: null, //websocket对象
        authUrl: "http://123.206.118.205:10800/auth?timestamp=" + new Date().valueOf(),
        wsServer: "ws://123.206.118.205:10800/io?timestamp=" + new Date().valueOf(), //ws请求地址
        page: 1, // 页码
        pageSize: 20, // 每页条数
        loading: false, // 分页加载
        finished: false, // 结束分页加载
        dataList: [],
        bell: '{:REGISTER_PUBLIC}img/chat/bell.mp3',
      }
    },
    filters: {
      accordingToNow(date) {
        const time = moment(date);
        const now = moment();
        let diffDays = now.diff(time, 'days');
        let diffYears = now.diff(time, 'years');

        if (diffDays < 1) {
          return time.format("a hh:mm");
        } else if (diffYears < 1) {
          return time.format("MoDo a hh:mm");
        } else {
          return time.format("LL a hh:mm");
        }
      }
    },
    computed: {
      innerPage() {
        return window.innerHeight + 'px'
      }
    },
    mounted() {
      this.getUserInfo();
    },
    methods: {
      // 获取个人信息
      getUserInfo() {
        this.$http.get(URL + "/H5/Visitor/getLoginInfo").then(
          res => {
            const {
              errCode,
              data,
              msg
            } = res.body;
            if (errCode === 0) {
              this.token = data.token;
              this.getOnlineMsg()
              this.getDataList()
            }
          },
          err => {
            this.$toast({
              type: 'fail',
              message: '登录失败',
              duration: 1500,
            });
          }
        );
      },
      // 登录获取信息
      getOnlineMsg() {
        this.$http.get(URL + "/register/friend/online", {
          params: {
            token: this.token
          }
        }).then(
          res => {
            const {
              errCode,
              data,
              msg
            } = res.body;
            if (errCode === 0) {
              this.getWsAuth()
            }
          },
          err => {
            this.$toast({
              type: 'fail',
              message: '登录失败',
              duration: 1500,
            });
          }
        );
      },
      // ws授权
      getWsAuth() {
        let uri = this.authUrl;
        let token = this.token;
        if (token != null && token !== undefined) {
          uri += "&token=" + token;
        }
        this.$http.get(uri).then(
          res => {
            const {
              code,
              data,
              message
            } = res.body;
            if (code === 1) {
              this.connectKey = data.key;
              this.sid = data.sid;
              this.initWebSocket()
            }
          },
          err => {
            this.$toast({
              type: 'fail',
              message: '登录失败',
              duration: 1500,
            });
          }
        );
      },
      // 消息列表
      getDataList() {
        this.$http.get(URL + "/register/friend/notice_list", {
            params: {
              token: this.token,
              page: this.page
            }
          }).then(
            res => {
              const {
                errCode,
                data,
                msg
              } = res.body;
              if (errCode === 0) {
                let result = data.list
                if (data == null || result.length == 0) {
                  // 加载结束
                  this.finished = true;
                  return;
                }
                if (result.length < this.pageSize) {
                  // 一页不足的情况
                  this.finished = true;
                } else {
                  this.finished = false;
                }
                // 处理数据
                if (this.page === 1) {
                  this.dataList = result;
                } else {
                  this.dataList = this.dataList.concat(result);
                }
              }
            },
            err => {
              console.log("getDataList 请求失败");
            }
          )
          .catch((err) => {
            console.log("获取资源列表异常");
          })
          .finally(() => {
            this.loading = false;
          });
      },
      // 上拉加载请求方法
      onLoadList() {
        if (this.dataList.length >= this.pageSize) {
          this.page++;
          setTimeout(() => {
            this.getDataList();
          }, 600)
        }
      },
      // 点击进入聊天
      goChat(item) {
        if (item.class == 1002) {
          location.href = `/register/page/chat?id=${item.base_id}&sid=${item.sid}&group=1`
        } else {
          location.href = `/register/page/chat?id=${item.base_id}&sid=${item.sid}`
        }
      },
      // 载入websocket
      initWebSocket() {
        if (!"WebSocket" in window) {
          this.$toast({
            type: 'fail',
            message: '您的浏览器不支持WebSocket!',
          })
          return false
        }
        let self = this;
        let wsServer = this.wsServer + "&sid=" + this.sid + "&key=" + this.connectKey;
        var ws = new WebSocket(wsServer);
        initEventHandle();

        // 初始化事件函数
        function initEventHandle() {
          ws.onopen = function (e) {
            console.log('onopen>>', e);
            heartCheck.start();
          };
          ws.onmessage = function (e) {
            // console.log('onmessage>>', e.data);
            let res = e.data;
            let type = res.substring(0, 1);
            let str = e.data.substring(1);
            let obj = JSON.parse(str);
            if (type == 4) {
              if (obj.from !== self.sid) self.playbell();
              self.handleMessage(JSON.parse(res.substring(1)));
              // self.debounce(self.playbell(), 800);
            }
            heartCheck.reset();
          };
          ws.onerror = function (e) {
            console.log('onerror>>', e);
            reconnect(wsServer);
          };
          ws.onclose = function (e) {
            console.log('onclose>>', e);
            reconnect(wsServer);
          };
          self.webSocket = ws;
        }

        // 重连
        function reconnect(url) {
          if (reconnect.lockReconnect) return;
          reconnect.lockReconnect = true;
          setTimeout(function () {
            createWebSocket(url);
            reconnect.lockReconnect = false;
          }, 2000);
        }

        // 实例websocket
        function createWebSocket(url) {
          try {
            if ('WebSocket' in window) {
              // ws = new WebSocket(url);
              self.getUserInfo();
            } else {
              console.log("当前浏览器不支持websocket协议");
            }
            initEventHandle();
          } catch (e) {
            reconnect(url);
          }
        }

        // 心跳机制
        var heartCheck = {
          timeout: 5000,
          timeoutObj: null,
          serverTimeoutObj: null,
          reset: function () {
            clearTimeout(this.timeoutObj);
            clearTimeout(this.serverTimeoutObj);
            this.start();
          },
          start: function () {
            var self = this;
            this.timeoutObj = setTimeout(function () {
              ws.send(2 + JSON.stringify({
                data: ""
              }));
              self.serverTimeoutObj = setTimeout(function () {
                ws.close();
                reconnect(wsServer);
              }, self.timeout)
            }, this.timeout)
          },
        }
      },
      // 接收信息处理
      handleMessage(obj) {
        let result = this.dataList.some(item => item.sid == obj.from)
        result ? this.hasMessage(obj) : this.hasNoMessage(obj);
      },
      // 列表中有消息
      hasMessage(obj) {
        let type = obj.data.typ;
        this.dataList.forEach(item => {
          switch (type) {
            case 100: //文本
              if (obj.t == 1001) {
                if (item.sid == obj.from) {
                  item.type = type;
                  item.content = obj.data.content.txt;
                  item.add_time = obj.data.from.time;
                  ++item.unread;
                }
              } else {
                if (item.sid == obj.to[0]) {
                  item.type = type;
                  item.content = obj.data.content.txt;
                  item.add_time = obj.data.from.time;
                  ++item.unread;
                }
              }
              break;
            case 101: //语音
              if (obj.t == 1001) {
                if (item.sid == obj.from) {
                  item.type = type;
                  item.add_time = obj.data.from.time;
                  ++item.unread;
                }
              } else {
                if (item.sid == obj.to[0]) {
                  item.type = type;
                  item.add_time = obj.data.from.time;
                  ++item.unread;
                }
              }
              break;
            case 104: //图片
              if (obj.t == 1001) {
                if (item.sid == obj.from) {
                  item.type = type;
                  item.add_time = obj.data.from.time;
                  ++item.unread;
                }
              } else {
                if (item.sid == obj.to[0]) {
                  item.type = type;
                  item.add_time = obj.data.from.time;
                  ++item.unread;
                }
              }
              break;
            case 102: //名片
              if (obj.t == 1001) {
                if (item.sid == obj.from) {
                  item.type = type;
                  item.card_name = obj.data.content.card_name;
                  item.card_brand = obj.data.content.card_brand;
                  item.card_avatar = obj.data.content.card_avatar;
                  item.add_time = obj.data.from.time;
                  ++item.unread;
                }
              } else {
                if (item.sid == obj.to[0]) {
                  item.type = type;
                  item.card_name = obj.data.content.card_name;
                  item.card_brand = obj.data.content.card_brand;
                  item.card_avatar = obj.data.content.card_avatar;
                  item.add_time = obj.data.from.time;
                  ++item.unread;
                }
              }
              break;
            case 103: //文章
              if (obj.t == 1001) {
                if (item.sid == obj.from) {
                  item.type = type;
                  item.article_title = obj.data.content[0].article_title;
                  item.article_desc = obj.data.content[0].article_desc;
                  item.article_pic = obj.data.content[0].article_pic;
                  item.add_time = obj.data.from.time;
                  ++item.unread;
                }
              } else {
                if (item.sid == obj.to[0]) {
                  item.type = type;
                  item.article_title = obj.data.content[0].article_title;
                  item.article_desc = obj.data.content[0].article_desc;
                  item.article_pic = obj.data.content[0].article_pic;
                  item.add_time = obj.data.from.time;
                  ++item.unread;
                }
              }
              break;

            default:
              break;
          }
        });
      },
      // 列表中没有消息
      hasNoMessage(obj) {
        let type = obj.data.typ;
        let newData = {
          add_time: obj.data.from.time,
          avatar: obj.data.from.avatar,
          group_name: obj.data.from.name,
          base_id: obj.data.from.id,
          class: obj.t,
          sid: obj.from,
          type: obj.data.typ,
          unread: 1,
          content: '',
          card_name: '',
          card_brand: '',
          card_avatar: '',
          article_title: '',
          article_desc: '',
          article_pic: '',
        };
        switch (type) {
          case 100: //文本
            newData.content = obj.data.content.txt;
            break;
          case 101: //图片
            newData.content = '[语音]';
            break;
          case 104: //图片
            newData.content = '[图片]';
            break;
          case 102: //名片
            newData.card_name = obj.data.content.card_name;
            newData.card_brand = obj.data.content.card_brand;
            newData.card_avatar = obj.data.content.card_avatar;
            break;
          case 103: //文章
            newData.article_title = obj.data.content[0].article_title;
            newData.article_desc = obj.data.content[0].article_desc;
            newData.article_pic = obj.data.content[0].article_pic;
            break;
          default:
            break;
        }
        this.dataList.unshift(newData);
      },
      // 删除消息
      goDelete(index) {
        this.$dialog.alert({
            message: '删除该条消息？',
            confirmButtonColor: '#FF730C',
            showCancelButton: true,
          })
          .then(() => {
            this.dataList.splice(index, 1);
          })
          .catch(() => {
            // ...
          });
      },
      // 播放铃声
      playbell() {
        console.log('bell!');
        let bell = this.$refs.bell;
        bell.play();
      },
      // 防抖方法
      debounce(fn, delay) {
        let timer = null;
        return function () {
          if (timer) {
            clearTimeout(timer);
          }
          timer = setTimeout(fn, delay)
        }
      },
    }
  })
</script>

</html>