<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>支付</title>
  <link rel="stylesheet" href="./css/common/main.css">
  <link rel="stylesheet" href="./css/common/vant.css">
  <link rel="stylesheet" href="./css/pay/pay.css">
</head>

<body>
  <div id="app" :style="{'min-height': innerPage}" v-cloak>
    <div class="notic_wrap">
      <van-swipe class="my-swipe" :autoplay="4000" :show-indicators="false" :touchable="false" vertical>
        <van-swipe-item v-for="(item, index) in noticList" :key="index">
          <p>恭喜<span>{{item}}</span>完成会员激活</p>
        </van-swipe-item>
      </van-swipe>
    </div>
    <div class="banner">
      <img src="./img/pay/pay_banner1.png" alt="">
      <div class="content">
        <div class="item" v-for="(item, index) in msgList" :key="index">
          <p class="title">0{{index+1}}</p>
          <p class="text" v-html="item"></p>
          <img class="tips" src="./img/pay/tips.png" alt="">
        </div>
      </div>
    </div>
    <div class="inner_wrap">
      <div :class="[typeIndex == 1 ? 'item on': 'item']" @click="toggleType(1)">
        <div class="title">5 年会员特权</div>
        <div class="cash">
          <span>￥</span>
          <p>199</p>
        </div>
        <div class="orgin">原价￥498</div>
        <div class="less_member">
          <p class="check" v-if="typeIndex == 1">优惠价，即将恢复原价</p>
          <p v-else>优惠价，即将恢复原价</p>
        </div>
      </div>
      <div :class="[typeIndex == 2 ? 'item on': 'item']" @click="toggleType(2)">
        <div class="title">3 个月会员特权</div>
        <div class="cash">
          <span>￥</span>
          <p>99</p>
        </div>
        <div class="orgin">原价￥120</div>
        <div class="less_member">
          <p class="check" v-if="typeIndex == 2">99名额，售完即止</p>
          <p v-else>99名额，售完即止</p>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="timer_wrap">
        <img src="./img/pay/clock.png" alt="">
        <p>激活优惠认证倒计时{{count}}</p>
      </div>
      <div class="submit_wrap">
        <div class="left_wrap">
          <div class="cash">实付：<span>￥{{typeIndex == 1 ? 199 : 99}}</span></div>
          <div class="bottom" @click="checkArgement">
            <div class="icon">
              <div v-if="checked">
                <van-icon name="checked" color="#FF4948" size="0.9rem" />
              </div>
              <img class="cicle" src="./img/pay/circle.png" alt="" v-else>
            </div>
            <p>请阅读并同意<span>《用户服务协议》</span></p>
          </div>
        </div>
        <div class="submit">立即支付</div>
      </div>
    </div>
  </div>
</body>

<script src="./js/jQuery.js"></script>
<script src="./js/vue.min.js"></script>
<script src="./js/vant.min.js"></script>
<script>
  var app = new Vue({
    el: '#app',
    data() {
      return {
        typeIndex: 1,
        count: '00:00:00', // 倒计时
        timer: null, //定时器
        checked: true,
        noticList: ['王**', '钱*', '李*', '田**', '张*', '陈**', '陆**', '刘*', '林**'],
        msgList: [
          '谁看了我，智能<span>人脉追踪</span>，实时掌控',
          '推广码展现，<span>转化私域流量</span>',
          '文章发布，便捷<span>植入自有广告</span>',
          '<span>人脉探索</span>,定位周围500公里精准人脉',
          '<span>人脉市集</span>推荐，客户主动找上门',
          '群聊加入,学习、分享、交流<span>快人一步</span>'
        ]
      }
    },
    computed: {
      innerPage() {
        return window.innerHeight + 'px'
      }
    },
    mounted() {
      let endtime = parseInt(new Date('2020/10/13,23:59:59').getTime() / 1000)
      this.timer = setInterval(() => {
        this.countDown(endtime)
      }, 1000)
    },
    methods: {
      //切换会员类型
      toggleType(type) {
        this.typeIndex = type
      },
      checkArgement() {
        this.checked = !this.checked
      },
      // 计算倒计时
      countDown(endtime) {
        let nowtime = parseInt(new Date().getTime() / 1000);
        let lefttime = parseInt(endtime - nowtime);
        let d = parseInt(lefttime / (24 * 60 * 60))
        let h = parseInt(lefttime / (60 * 60) % 24);
        let m = parseInt(lefttime / 60 % 60);
        let s = parseInt(lefttime % 60);
        d = addZero(d)
        h = addZero(h);
        m = addZero(m);
        s = addZero(s);
        this.count = `${h}:${m}:${s}`;
        if (lefttime <= 0) {
          this.count = null
          clearInterval(this.timer)
        }
        //小于10补0
        function addZero(i) {
          return i < 10 ? "0" + i : i + "";
        }
      },
    }
  })
</script>

</html>