<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>支付</title>
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="./css/vant.css">
  <link rel="stylesheet" href="./css/pay.css">
</head>

<body>
  <div id="app" :style="{'min-height': innerPage}" v-cloak>
    <div class="banner">
      <img src="./img/pay_banner.png" alt="">
    </div>
    <div class="inner_wrap">
      <div :class="[typeIndex == 1 ? 'item on': 'item']" @click="toggleType(1)">
        <div class="title">5 年会员特权</div>
        <div class="cash">
          <span>￥</span>
          <p>199</p>
        </div>
        <div class="orgin">原价￥498</div>
        <div class="less_member" v-if="typeIndex == 1">当前名额仅剩<span>10</span>名</div>
      </div>
      <div :class="[typeIndex == 2 ? 'item on': 'item']" @click="toggleType(2)">
        <div class="title">3 个月会员特权</div>
        <div class="cash">
          <span>￥</span>
          <p>99</p>
        </div>
        <div class="orgin">原价￥120</div>
        <div class="less_member" v-if="typeIndex == 2">当前名额仅剩<span>10</span>名</div>
      </div>
    </div>
    <div class="member_title">开通会员VIP尊享更多权益</div>
    <div class="content_wrap">
      <div class="item" v-for="(item, index) in showList" :key="index">
        <img class="title" :src="'./img/pay_title'+(index+1)+'.png'" alt="">
        <img class="pay_bg" src="./img/pay_bg.png" alt="">
        <div class="left">
          <p>普通用户</p>
          <p>{{item.left}}</p>
        </div>
        <div class="right" v-html="item.right"></div>
      </div>
    </div>
    <div class="footer">
      <div class="left_wrap">
        <div class="cash">实付：<span>￥{{typeIndex == 1 ? 199 : 99}}</span></div>
        <div class="bottom">
          <div class="icon">
            <van-icon name="checked" color="#FF4948" size="1rem" />
          </div>
          <p>请阅读并同意<span>《用户服务协议》</span></p>
        </div>
      </div>
      <div class="submit">立即支付</div>
    </div>
  </div>
</body>

<script src="./js/jQuery.js"></script>
<script src="./js/vue.min.js"></script>
<script src="./js/vant.min.js"></script>
<script>
  var app = new Vue({
    el: '#app',
    data() {
      return {
        typeIndex: 1,
        showList: [{
            left: '无法展示完全自己的联系方式，访客无法联系到您。',
            right: '展示自己的联系方式，访客能<span>第一时间</span>联系到您。'
          },
          {
            left: '不可自主设置名片功能，无法关闭广告页面。',
            right: '设置名片底部是否显示平台广告,关闭广告<span>页面更整洁</span>。'
          },
          {
            left: '无法查看访客信息，错过潜在客户。',
            right: '可以管理您的访客信息<span>查看</span>有哪些访问以及停留时间。'
          },
          {
            left: '个人推广码和自己的群码无法显示。',
            right: '<span>个人推广码和群码植入微信推广</span>，市面独家。'
          },
          {
            left: '添加人脉有限，无法获取更多人脉资源。',
            right: '人脉市集全年最高+3650条人脉名额，<span>鹰眼功能</span>周围500公里高端行业人脉，<span>急速查看</span>。'
          },
          {
            left: '无法展现在人脉市集，错过客户找上门。',
            right: '人脉市集全年最高<span>+3650次展现</span>。'
          },
          {
            left: '没有专属客服，无法获取最新素材。',
            right: '<span>专属一对一服务</span>，天天帮你更新名片素材。'
          },
        ]
      }
    },
    computed: {
      innerPage() {
        return window.innerHeight + 'px'
      }
    },
    mounted() {},
    methods: {
      //切换会员类型
      toggleType(type) {
        this.typeIndex = type
      }
    }
  })
</script>

</html>