<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>打卡签到</title>
	<link rel="stylesheet" href="{:REGISTER_PUBLIC}css/common/main.css">
	<link rel="stylesheet" href="{:REGISTER_PUBLIC}css/common/vant.css">
	<link rel="stylesheet" href="{:REGISTER_PUBLIC}css/sign/sign.css?v=<?php echo time(); php?>">
	<!-- <link rel="stylesheet" href="{:REGISTER_PUBLIC}css/sign/sign.css"> -->
</head>

<body>
	<div id="app" :style="{'min-height': innerPage}" v-cloak>
		<div class="banner">
			<img src="{:REGISTER_PUBLIC}img/sign/banner.png" alt="">
		</div>
		<div class="inner_wrap">
			<div class="top_wrap">
				<div class="member">
					<img class="avatar" :src="userInfo.avatar" alt="">
					<p>{{userInfo.name}}</p>
					<a href="/register/page/integral">我的积分</a>
				</div>
				<div class="tips">连续签到<span>{{userInfo.serial}}</span>天啦~ 累计签到<span>{{userInfo.cnt}}</span>天</div>
			</div>
			<div class="calendar_wrap">
				<div class="calendar_wrap" v-if="showDate">
					<div id="calendar">
						<div class="month">
							<ul>
								<li class="arrow" @click="pickPre(currentYear,currentMonth)">❮</li>
								<li class="year-month" @click="pickYear(currentYear,currentMonth)">
									<span class="choose-year">{{ currentYear }}年</span>
									<span class="choose-month">{{ currentMonth < 10 ? '0'+currentMonth : currentMonth }}月</span>
								</li>
								<li class="arrow" @click="pickNext(currentYear,currentMonth)">❯</li>
							</ul>
						</div>
						<ul class="weekdays">
							<li>一</li>
							<li>二</li>
							<li>三</li>
							<li>四</li>
							<li>五</li>
							<li>六</li>
							<li>日</li>
						</ul>
						<ul class="days">
							<li :class="{is_sign: day.sign}" v-for="day in days" @click="pick(day)">
								<!--今天-->
								<span v-if="day.date.getMonth()+1 != currentMonth" class="other-month">{{ day.date.getDate() }}</span>
								<template v-else>
									<!--今天-->
									<span
										v-if="day.date.getFullYear() == new Date().getFullYear() && day.date.getMonth() == new Date().getMonth() && day.date.getDate() == new Date().getDate()"
										class="active">{{ day.date.getDate() }}</span>
									<span v-else>{{ day.date.getDate() }}</span>
								</template>
							</li>
						</ul>
					</div>
				</div>
				<div class="sign_btn">
					<p class="disabled" v-if="userInfo.today_is_sign"><span>{{userInfo.sign_time}}</span> 已签到</p>
					<p v-else-if="canSign" @click="goSign"><span>{{now_time}}</span> 签到</p>
					<p v-else class="disabled" @click="goSign"><span>{{now_time}}</span> 签到</p>
				</div>
			</div>
		</div>
		<div class="sign_wrap">
			<div class="tab_wrap">
				<div :class="[tabIndex == 1 ? 'item on' : 'item']" @click="tabSwitch(1)">连续签到</div>
				<div :class="[tabIndex == 2 ? 'item on' : 'item']" @click="tabSwitch(2)">累计签到</div>
			</div>
			<van-list class="sign_list" v-model="loading" :finished="finished" :immediate-check="false" finished-text="没有更多了"
				@load="onLoadList">
				<div class="item" v-for="(item, index) in signRank" :key="index" v-if="signRank.length">
					<div class="left">
						<img class="avatar" :src="item.avatar" alt="">
						<p class="name">{{item.name}}</p>
					</div>
					<div class="right" v-if="tabIndex == 1">连续签到<span>{{item.days}}</span>天</div>
					<div class="right" v-if="tabIndex == 2">累计签到<span>{{item.days}}</span>天</div>
				</div>
			</van-list>
		</div>
	</div>
</body>

<script src="{:REGISTER_PUBLIC}js/vue.min.js"></script>
<script src="{:REGISTER_PUBLIC}js/vue-resource.min.js"></script>
<script src="{:REGISTER_PUBLIC}js/vant.min.js?v=1.2"></script>
<script src="{:REGISTER_PUBLIC}js/jweixin-1.1.0.js"></script>
<script src="{:REGISTER_PUBLIC}js/wx.share.js"></script>

<script>
	const URL = "{:H5_DOMAIN}";

	new Vue({
		el: '#app',
		data() {
			return {
				token: '',
				date: '',
				now_time: '', //当前时间
				tabIndex: 1,
				page: 1, // 页码
				pageSize: 20, // 每页条数
				minDate: new Date(),
				maxDate: new Date(),
				timer: null, //定时器
				canSign: false, // 能否签到
				loading: false, // 分页加载
				finished: false, // 结束分页加载
				showDate: false, // 展示日历
				userInfo: {}, //签到信息
				signRank: [], // 排行数组
				currentDay: 1,
				currentMonth: 1,
				currentYear: 1970,
				currentWeek: 1,
				days: [],
				signList: [], // 已签到日期
			}
		},
		computed: {
			innerPage() {
				return window.innerHeight + 'px'
			}
		},
		mounted() {
			//获取当前时间
			this.timer = setInterval(() => {
				this.nowTime()
			}, 1000);
			this.getUserInfo()
			this.initData()
			// this.initSignMonth('2020-10')
		},
		methods: {
			// 获取个人信息
			getUserInfo() {
				this.$http.get(URL + "/H5/Visitor/getLoginInfo").then(
					res => {
						const {
							errCode,
							data,
							msg
						} = res.body;
						if (errCode === 0) {
							this.token = data.token;
							this.getSignDetail()
							this.getSignRank()
						}
					},
					err => {
						this.$toast({
							type: 'fail',
							message: '登录失败',
							duration: 1500,
						});
						console.log("getLoginInfo 请求失败");
					}
				);
			},
			// 获取签到详情
			getSignDetail() {
				this.$http.get(URL + "/register/sign/index", {
					params: {
						token: this.token,
					}
				}).then(
					res => {
						const {
							errCode,
							data,
							msg
						} = res.body;
						if (errCode === 0) {
							this.userInfo = data;
							if (data.today_is_sign == 0) this.canSign = true;
							data.today_is_sign && this.clearTimer()
							data.month && this.initSignMonth(data.month)
							this.getSignDate()
						}
					},
					err => {
						console.log("getSignDetail 请求失败");
					}
				);
			},
			// 签到排名
			getSignRank(type = 1) {
				this.$http.get(URL + "/register/sign/rank", {
						params: {
							token: this.token,
							type: type,
							page: this.page
						}
					}).then(
						res => {
							const {
								errCode,
								data,
								msg
							} = res.body;
							if (errCode === 0) {
								let result = data.list
								if (data == null || result.length == 0) {
									// 加载结束
									this.finished = true;
									return;
								}
								if (result.length < this.pageSize) {
									// 一页不足的情况
									this.finished = true;
								} else {
									this.finished = false;
								}
								// 处理数据
								if (this.page === 1) {
									this.signRank = result;
								} else {
									this.signRank = this.signRank.concat(result);
								}
							}
						},
						err => {
							console.log("getSignRank 请求失败");
						}
					)
					.catch((err) => {
						console.log("获取资源列表异常");
					})
					.finally(() => {
						this.loading = false;
					});
			},
			// 签到请求
			signIn() {
				this.$http.get(URL + "/register/sign/sign", {
					params: {
						token: this.token
					}
				}).then(
					res => {
						const {
							errCode,
							data,
							msg
						} = res.body;
						if (errCode === 0) {
							this.getSignDetail()
							this.$toast({
								type: 'success',
								message: `签到成功 +${data.integral}积分！`,
								duration: 1200,
							})
						}
					},
					err => {
						console.log("signIn 请求失败");
					}
				);
			},
			// 获取每月已签到日期
			getSignDate(date) {
				this.$http.get(URL + "/register/sign/month", {
					params: {
						token: this.token,
						date: date
					}
				}).then(
					res => {
						const {
							errCode,
							data,
							msg
						} = res.body;
						if (errCode === 0) {
							this.signList = data.list
							this.initSignDate()
						}
					},
					err => {
						console.log("getSignDate 请求失败");
					}
				);
			},
			// 上拉加载请求方法
			onLoadList() {
				if (this.signRank.length >= this.pageSize) {
					this.page++;
					setTimeout(() => {
						this.getSignRank(this.tabIndex);
					}, 600)
				}
			},
			// 当前时间
			nowTime() {
				let date = new Date();
				let year = date.getFullYear();
				let month = date.getMonth() + 1;
				let day = date.getDate();
				let hour = date.getHours();
				let minutes = date.getMinutes();
				let second = date.getSeconds();
				let timestr = year + "年" + month + "月" + day + "日  " + check(hour) +
					":" + check(minutes) + ":" + check(second);
				this.now_time = `${check(hour)}:${check(minutes)}:${check(second)}`
				//小于10补0
				function check(i) {
					return i < 10 ? "0" + i : i + "";
				}
			},
			// 设置签到日历范围
			initSignMonth(str) {
				let arr = str.split('-')
				this.minDate = new Date(arr[0] * 1, arr[1] * 1 - 7)
				this.maxDate = new Date(arr[0] * 1, arr[1] * 1, 0)
				this.showDate = true
			},
			// 切换tab事件
			tabSwitch(index) {
				if (this.tabIndex !== index) {
					this.signRank = []
					this.page = 1
					this.loading = false
					this.finished = false
					setTimeout(() => {
						this.getSignRank(index)
					}, 600)
				}
				this.tabIndex = index
			},
			// 清除定时器
			clearTimer() {
				clearInterval(this.timer)
				this.timer = null
			},
			// 点击签到
			goSign() {
				if (!this.token) {
					this.$toast({
						type: 'fail',
						message: '尚未登录',
						duration: 1500,
					});
					return false
				}
				this.$toast.loading({
					message: '签到中...',
					forbidClick: true, // 禁止背景点击
					duration: 800, // 0为持续展示toast
					onClose: () => {
						this.signIn()
					}
				});
			},
			// 载入日历
			initData(cur) {
				var date;
				if (cur) {
					date = new Date(cur);
				} else {
					let year = new Date().getFullYear();
					let month = new Date().getMonth();
					date = new Date(year, month);
				}
				this.currentDay = date.getDate();
				this.currentYear = date.getFullYear();
				this.currentMonth = date.getMonth() + 1;
				this.currentWeek = date.getDay(); // 1...6,0
				if (this.currentWeek == 0) {
					this.currentWeek = 7;
				}
				var str = this.formatDate(this.currentYear, this.currentMonth, this.currentDay);
				console.log("initDay:" + str + "," + this.currentWeek);
				this.days.length = 0;
				// 今天是周日，放在第一行第7个位置，前面6个
				for (var i = this.currentWeek - 1; i >= 0; i--) {
					var d = new Date(str);
					d.setDate(d.getDate() - i);
					// console.log("y:" + d.getDate());
					this.days.push({
						date: d,
						sign: 0
					});
				}
				for (var i = 1; i <= 35 - this.currentWeek; i++) {
					var d = new Date(str);
					d.setDate(d.getDate() + i);
					this.days.push({
						date: d,
						sign: 0
					});
				}
				this.initSignDate()
			},
			// 日期点击
			pick(date) {
				// alert(this.formatDate(date.getFullYear(), date.getMonth() + 1, date.getDate()));
			},
			// 上一个月
			pickPre(year, month) {
				// setDate(0); 上月最后一天
				// setDate(-1); 上月倒数第二天
				// setDate(dx) 参数dx为 上月最后一天的前后dx天
				var d = new Date(this.formatDate(year, month, 1));
				d.setDate(0);
				this.getSignDate(this.formatDate(d.getFullYear(), d.getMonth() + 1))
				this.initData(this.formatDate(d.getFullYear(), d.getMonth() + 1, 1));
			},
			// 下一个月
			pickNext(year, month) {
				var d = new Date(this.formatDate(year, month, 1));
				d.setDate(35);
				this.getSignDate(this.formatDate(d.getFullYear(), d.getMonth() + 1))
				this.initData(this.formatDate(d.getFullYear(), d.getMonth() + 1, 1));
			},
			// 点击标题年月
			pickYear(year, month) {
				// alert(year + "," + month);
			},
			// 返回 类似 2016-01-02 格式的字符串
			formatDate: function (year, month, day) {
				let y = year;
				let m = month;
				let d = day;
				let result = ''
				if (m < 10) m = "0" + m;
				if (day) {
					if (d < 10) d = "0" + d;
					result = y + "-" + m + "-" + d
				} else {
					result = y + "-" + m
				}
				return result
			},
			// 渲染已签到日期
			initSignDate() {
				let days = this.days;
				let signList = this.signList;

				days.forEach(item => {
					signList.forEach(v => {
						if (item.date.getTime() === new Date(v.add_date).getTime()) {
							item.sign = 1;
						}
					})
				});
			}
		}
	})
</script>

</html>