#app {
  background-image: url(../../img/activity/bg01.png), url(../../img/activity/bg02.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top, bottom;
  background-size: 100%, 100%;
  background-color: #291c40;
  padding: 55% 0 0;
  overflow: hidden;
}

#app .enter_wrap {
  padding: 1rem 11% 0;
}

#app .enter_wrap .word_title {
  padding: 2.2rem 0;
}

#app .enter_wrap .word_title img {
  display: block;
  width: 100%;
}

#app .enter_wrap .input_wrap {
  padding: 0 1rem;
  background-color: #2e1f41;
  border: 2px solid rgba(233, 201, 144, 0.8);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px 3px #5b3f51 inset;
}

#app .enter_wrap .input_wrap input {
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 1.1rem;
  line-height: 4rem;
  letter-spacing: 1px;
}

#app .enter_wrap .input_wrap input::placeholder {
  color: #563c50;
}

#app .enter_wrap .input_wrap input::-webkit-input-placeholder {
  color: #563c50;
}

#app .enter_wrap .input_wrap input::-moz-placeholder {
  color: #563c50;
}

#app .enter_wrap .input_wrap input:-moz-placeholder {
  color: #563c50;
}

#app .enter_wrap .input_wrap input:-ms-input-placeholder {
  color: #563c50;
}

#app .enter_wrap .submit_btn {
  color: #d47703;
  text-align: center;
  border-radius: 5rem;
  margin-top: 2.4rem;
  background: linear-gradient(180deg, #feea81 20%, #e8a638);
}

#app .enter_wrap .submit_btn p {
  font-size: 1.4rem;
  line-height: 4rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 1px 2px 0px rgba(255, 239, 166, 0.58);
}

#app .sign_wrap {
  padding: 1rem 0 0;
}

#app .sign_wrap .medal_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 84%;
  margin: 0 auto;
}

#app .sign_wrap .medal_wrap .item {
  width: 45%;
  text-align: center;
  white-space: nowrap;
  padding: 0.4rem 0.6rem;
  border-radius: 0.4rem;
}

#app .sign_wrap .medal_wrap .item .title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

#app .sign_wrap .medal_wrap .item .title::before, #app .sign_wrap .medal_wrap .item .title::after {
  content: "";
  width: 1rem;
  height: 1.5px;
}

#app .sign_wrap .medal_wrap .item .title::before {
  margin-right: 0.3rem;
}

#app .sign_wrap .medal_wrap .item .title::after {
  margin-left: 0.3rem;
}

#app .sign_wrap .medal_wrap .item img {
  width: 4.2rem;
  margin: 0.4rem auto;
}

#app .sign_wrap .medal_wrap .item p {
  font-size: 0.7rem;
  margin-bottom: 0.15rem;
}

#app .sign_wrap .medal_wrap .item > span {
  font-size: 0.7rem;
  color: #796a98;
}

#app .sign_wrap .medal_wrap .silver {
  color: #d4e2fb;
  box-shadow: 0px 0px 10px 3px #59506b inset;
  border: 2px solid rgba(189, 189, 189, 0.66);
}

#app .sign_wrap .medal_wrap .silver .title::before, #app .sign_wrap .medal_wrap .silver .title::after {
  background-color: rgba(194, 194, 194, 0.2);
}

#app .sign_wrap .medal_wrap .gold {
  color: #f2d09a;
  box-shadow: 0px 0px 10px 3px #563c50 inset;
  border: 2px solid rgba(233, 201, 144, 0.66);
}

#app .sign_wrap .medal_wrap .gold .title::before, #app .sign_wrap .medal_wrap .gold .title::after {
  background-color: #a78e75;
}

#app .sign_wrap .submit_btn {
  width: 85%;
  margin: 3rem auto 1.6rem;
  color: #d47703;
  text-align: center;
  padding: 0.7rem 0;
  border-radius: 5rem;
  margin-top: 2.4rem;
  background: linear-gradient(180deg, #feea81 20%, #e8a638);
}

#app .sign_wrap .submit_btn .time {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

#app .sign_wrap .submit_btn p {
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 1px 2px 0px rgba(255, 239, 166, 0.58);
}

#app .sign_wrap .disabled {
  color: #8a9099;
  background: linear-gradient(150deg, #c3c8d0, #a6adba);
}

#app .sign_wrap .disabled p {
  text-shadow: none;
}

#app .sign_wrap .steps_wrap {
  width: 90%;
  margin: 0 auto 1rem;
  padding: 2rem 0.5rem;
  border-radius: 0.6rem;
  background-color: #271b3f;
}

#app .sign_wrap .steps_wrap .myProgress {
  position: relative;
  width: 80%;
  margin: 0 auto;
  background-color: rgba(114, 122, 137, 0.36);
}

#app .sign_wrap .steps_wrap .myProgress .myBar {
  position: relative;
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, #ffa97d, #ff7027);
  text-align: center;
  line-height: 30px;
  color: white;
}

#app .sign_wrap .steps_wrap .myProgress .item {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #e1ebfa;
  text-align: center;
  font-size: 0.4rem;
}

#app .sign_wrap .steps_wrap .myProgress .item .point {
  width: 12px;
  height: 12px;
  margin: 0.2rem auto;
  border-radius: 50%;
  border: 3px solid #271b3f;
  background: #727a89;
}

#app .sign_wrap .steps_wrap .myProgress .item > p {
  height: 1rem;
  font-size: 0.6rem;
}

#app .sign_wrap .steps_wrap .myProgress .item > p:empty {
  height: 1rem;
}

#app .sign_wrap .steps_wrap .myProgress .left .point {
  background: #f5bfa3;
}

#app .sign_wrap .steps_wrap .myProgress .middle {
  left: 50%;
}

#app .sign_wrap .steps_wrap .myProgress .last {
  right: 0;
  transform: translate(50%, -50%);
}

#app .sign_wrap .steps_wrap .myProgress .now p {
  color: #CB7448;
}

#app .sign_wrap .notice_wrap {
  width: 90%;
  margin: 0 auto;
  padding: 0.6rem 0;
  color: #fff;
  text-align: center;
  background: #201734;
}

#app .sign_wrap .notice_wrap .title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

#app .sign_wrap .notice_wrap .title::before, #app .sign_wrap .notice_wrap .title::after {
  content: "";
  width: 20%;
  height: 1px;
  background: #fff;
  opacity: 0.4;
}

#app .sign_wrap .notice_wrap .title::before {
  margin-right: 0.3rem;
}

#app .sign_wrap .notice_wrap .title::after {
  margin-left: 0.3rem;
}

#app .sign_wrap .notice_wrap .van-swipe {
  height: 1.2rem;
}

#app .sign_wrap .notice_wrap .van-swipe .van-swipe-item {
  font-size: 0.9rem;
}

#app .sign_wrap .notice_wrap .van-swipe .van-swipe-item span {
  color: #eb5c1c;
  margin-left: 0.3rem;
}
