.van-dialog {
  width: 80%;
}

.van-dialog .van-dialog__footer {
  display: flex;
}

.delete-button {
  height: 100%;
}

#app {
  background: #fff;
}

#app .data_list {
  padding: 0.5rem 1.2rem 0;
}

#app .data_list .item {
  position: relative;
  display: flex;
  padding: 1rem 0;
  border-bottom: 1px solid #f5f5f5;
}

#app .data_list .item .avatar {
  position: relative;
  width: 3rem;
  height: 3rem;
  margin-right: 0.8rem;
}

#app .data_list .item .avatar img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#app .data_list .item .avatar .tips {
  position: absolute;
  top: -0.3rem;
  right: -0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 1.3rem;
  height: 1.3rem;
  font-size: 0.7rem;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #fff;
  background: #ff4222;
}

#app .data_list .item .content {
  flex: 1;
}

#app .data_list .item .content .top_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}

#app .data_list .item .content .top_wrap .name {
  flex: 1;
  display: flex;
  align-items: center;
  color: #333537;
  font-size: 1rem;
  font-weight: bold;
}

#app .data_list .item .content .top_wrap .name > span {
  color: #fff;
  font-size: 0.7rem;
  padding: 0.1rem 0.36rem;
  font-weight: normal;
  white-space: nowrap;
  letter-spacing: 1px;
  margin-right: 0.3rem;
  border-radius: 0.3rem;
  background: #ff8412;
}

#app .data_list .item .content .top_wrap .name > p {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

#app .data_list .item .content .top_wrap .time {
  color: #a2a2a2;
  font-size: 0.8rem;
}

#app .data_list .item .content .sign {
  color: #999999;
  font-size: 0.9rem;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

#app .data_list .item .content .card {
  position: relative;
  flex: 1;
  padding: 0.6rem 0.6rem;
  border-radius: 0.5rem;
  border: 1px solid #e9e9e9;
  overflow: hidden;
}

#app .data_list .item .content .card .title {
  color: #333537;
  font-size: 0.92rem;
  margin-bottom: 0.6rem;
}

#app .data_list .item .content .card .inner_wrap {
  display: flex;
  align-items: center;
}

#app .data_list .item .content .card .inner_wrap .img_wrap {
  width: 3rem;
  height: 3rem;
  margin-right: 0.6rem;
}

#app .data_list .item .content .card .inner_wrap .img_wrap img {
  display: block;
  width: 100%;
  height: 100%;
}

#app .data_list .item .content .card .inner_wrap .right {
  flex: 1;
  color: #999999;
  font-size: 0.8rem;
  padding-right: 2rem;
}

#app .data_list .item .content .card .inner_wrap .right > p {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

#app .data_list .item .content .card .inner_wrap .right > p:first-child {
  margin-bottom: 0.3rem;
}

#app .data_list .item .content .card .footer {
  position: absolute;
  bottom: 11px;
  right: -24px;
  transform: rotate(-45deg);
}

#app .data_list .item .content .card .footer > p {
  color: #ff770e;
  width: 6rem;
  font-size: 1rem;
  line-height: 1.6rem;
  text-align: center;
  background: linear-gradient(30deg, rgba(232, 0, 0, 0.12), rgba(255, 114, 12, 0.12));
}

#app .data_list .item .content .news {
  padding: 0.6rem 0.6rem;
  border-radius: 0.5rem;
  border: 1px solid #e9e9e9;
}

#app .data_list .item .content .news .title {
  color: #333537;
  font-size: 0.92rem;
  margin-bottom: 0.6rem;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

#app .data_list .item .content .news .bottom {
  display: flex;
  align-items: center;
}

#app .data_list .item .content .news .bottom > p {
  flex: 1;
  color: #999999;
  font-size: 0.8rem;
  padding-right: 0.9rem;
}

#app .data_list .item .content .news .bottom img {
  width: 3rem;
  height: 3rem;
  border-radius: 0.4rem;
}

#app .data_list .item .message {
  position: absolute;
  top: 32%;
  right: 0rem;
}

#app .data_list .item .message img {
  width: 1.8rem;
}

#app .data_list .item .online {
  position: absolute;
  right: 1px;
  bottom: -2px;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  border: 1.8px solid #fff;
  overflow: hidden;
}

#app .data_list .item .on {
  background-color: #38bc00;
}

#app .data_list .item .off {
  background-color: #a2a2a2;
}
