$arrowLeft: -0.4rem;
$borderLeft: 0.7rem;
$arrowToTop: 0.5rem;

.van-dialog {
  width: 80%;
  .van-dialog__footer {
    display: flex;
  }
}
.van-nav-bar {
  width: 100%;
  line-height: 46px;
  .van-icon {
    color: #ff7e10;
  }
  .van-nav-bar__text {
    color: #ff7e10;
  }
}
.van-notice-bar {
  position: fixed;
  top: 46px;
  z-index: 99;
  width: 100%;
}
.van-loading {
  margin-right: 0.5rem;
}
#app {
  width: 100%;
  height: 100%;
  background: #f4f4f4;
  .show {
    padding-bottom: 10rem;
  }
  .message_wrap {
    height: 100vh;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    .message_list {
      padding: 3rem 1.4rem 7rem;
    }
    .item {
      padding: 1.4rem 0 0;
      .message_time {
        text-align: center;
        color: #969799;
        font-size: 0.9rem;
        margin-bottom: 0.6rem;
      }
      .notice_wrap {
        color: #666;
        font-size: 0.8rem;
        text-align: center;
      }
      .message_content {
        display: flex;
      }
      .avatar {
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 0.3rem;
        overflow: hidden;
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      .content {
        flex: 1;
        .nickname {
          color: #999;
          font-size: 0.7rem;
          margin-bottom: 0.3rem;
        }
        .bottom_wrap {
          display: flex;
          align-items: center;
          .text {
            position: relative;
            display: inline-block;
            font-size: 0.9rem;
            padding: 0.65rem 0.8rem;
            border-radius: 0.3rem;
            background: #fff;
          }
          .img {
            width: 7rem;
            border-radius: 0.5rem;
            overflow: hidden;
            img {
              display: block;
              width: 100%;
              height: 100%;
            }
          }
          .card {
            position: relative;
            flex: 1;
            padding: 0.6rem 0.6rem;
            border-radius: 0.5rem;
            border: 1px solid #e9e9e9;
            background: #fff;
            overflow: hidden;
            .title {
              color: #333537;
              font-size: 0.92rem;
              margin-bottom: 0.6rem;
            }
            .inner_wrap {
              display: flex;
              align-items: center;
              .img_wrap {
                width: 3rem;
                height: 3rem;
                border-radius: 0.3rem;
                margin-right: 0.6rem;
                overflow: hidden;
                img {
                  display: block;
                  width: 100%;
                  height: 100%;
                }
              }
              .right {
                color: #999999;
                font-size: 0.8rem;
                > p:first-child {
                  margin-bottom: 0.3rem;
                }
              }
            }
            .footer {
              position: absolute;
              bottom: 11px;
              right: -24px;
              transform: rotate(-45deg);
              > p {
                color: #ff770e;
                width: 6rem;
                font-size: 1rem;
                line-height: 1.6rem;
                text-align: center;
                background: linear-gradient(
                  30deg,
                  rgba(232, 0, 0, 0.12),
                  rgba(255, 114, 12, 0.12)
                );
              }
            }
          }
          .news_wrap {
            .news {
              padding: 0.6rem 0.6rem;
              border-radius: 0.5rem;
              border: 1px solid #e9e9e9;
              background: #fff;
              &:not(:last-child) {
                margin-bottom: 0.5rem;
              }
              .title {
                color: #333537;
                font-size: 0.92rem;
                margin-bottom: 0.6rem;
              }
              .bottom {
                display: flex;
                align-items: center;
                > p {
                  flex: 1;
                  color: #999999;
                  font-size: 0.8rem;
                  padding-right: 0.9rem;
                }
                img {
                  width: 3rem;
                  height: 3rem;
                  border-radius: 0.4rem;
                }
              }
            }
          }
          .audio {
            position: relative;
            display: flex;
            align-items: center;
            .audio_content {
              display: flex;
              align-items: center;
              width: 10rem;
              padding: 0.4rem 0.3rem;
              border-radius: 0.3rem;
              background: #fff;
              .sound_icon {
                width: 2rem;
                height: 2rem;
                margin-right: 0.2rem;
                img {
                  display: block;
                  width: 100%;
                  height: 100%;
                }
              }
              .audio_length {
                font-size: 0.92rem;
              }
            }
            .noread {
              width: 0.54rem;
              height: 0.54rem;
              margin: 0 0.8rem;
              background: #ff4222;
              border-radius: 50%;
            }
          }
          .error_icon {
            display: block;
            width: 1.2rem;
          }
        }
      }
    }
    .row {
      .avatar {
        margin-right: 0.9rem;
      }
      .content {
        .text {
          &::before {
            content: "";
            position: absolute;
            left: $arrowLeft;
            top: $arrowToTop;
            width: 0;
            height: 0;
            border-top: 0.5rem solid transparent;
            border-right: $borderLeft solid #fff;
            border-bottom: 0.5rem solid transparent;
          }
        }
        .audio {
          &::before {
            content: "";
            position: absolute;
            left: $arrowLeft;
            top: $arrowToTop;
            width: 0;
            height: 0;
            border-top: 0.5rem solid transparent;
            border-right: $borderLeft solid #fff;
            border-bottom: 0.5rem solid transparent;
          }
        }
      }
    }
    .reverse {
      .message_content {
        flex-direction: row-reverse;
      }
      .avatar {
        margin-left: 0.9rem;
      }
      .content {
        .nickname {
          text-align: right;
        }
        .bottom_wrap {
          justify-content: flex-end;
          .text {
            color: #fff;
            background: #ff770e;
            &::before {
              content: "";
              position: absolute;
              right: $arrowLeft;
              top: $arrowToTop;
              border-top: 0.5rem solid transparent;
              border-left: $borderLeft solid #ff770e;
              border-bottom: 0.5rem solid transparent;
            }
          }
          .audio {
            flex-direction: row-reverse;
            .audio_content {
              color: #fff;
              flex-direction: row-reverse;
              background: #ff770e;
              .sound_icon {
                perspective: 1000;
                margin-right: 0rem;
                img {
                  transform: rotateY(180deg);
                  -ms-transform: rotateY(180deg);
                  -moz-transform: rotateY(180deg);
                  -webkit-transform: rotateY(180deg);
                  -o-transform: rotateY(180deg);
                }
              }
            }
            &::before {
              content: "";
              position: absolute;
              right: $arrowLeft;
              top: $arrowToTop;
              border-top: 0.5rem solid transparent;
              border-left: $borderLeft solid #ff770e;
              border-bottom: 0.5rem solid transparent;
            }
          }
        }
      }
    }
  }
  #chat-footer {
    position: absolute;
    bottom: 0;
    z-index: 99;
    width: 100%;
    background: #f4f4f4;
    border-top: 1px solid #e2e2e2;
    .delayTip {
      position: absolute;
      right: 3%;
      top: -1.8rem;
      z-index: 99;
      font-size: 0.9rem;
      color: #999;
      opacity: 0.7;
    }
    .input_wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.8rem 0.6rem 1.8rem;
      .left_wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.8rem;
        height: 1.8rem;
        padding: 0.36rem;
        border-radius: 50%;
        background: linear-gradient(30deg, #ff8e16, #ff720c);
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      .content {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0.6rem;
        font-size: 0.9rem;
        padding: 0 0.8rem;
        border-radius: 0.3rem;
        background: #fff;
        .van-field {
          flex: 1;
          font-size: 0.9rem;
          line-height: 1.3;
          padding: 0.7rem 0;
        }
        .icon {
          width: 1.5rem;
          height: 1.5rem;
          overflow: hidden;
          img {
            display: block;
            width: 100%;
            height: 100%;
          }
        }
      }
      .submit {
        color: #fff;
        height: 2.4rem;
        font-size: 0.8rem;
        line-height: 3.1;
        letter-spacing: 1px;
        white-space: nowrap;
        padding: 0 0.65rem;
        border-radius: 0.24rem;
        background: linear-gradient(30deg, #ff8e16, #ff720c);
      }
    }
    .content_wrap {
      width: 100%;
      .apply_wrap {
        display: flex;
        align-items: center;
        padding: 0.8rem 1.4rem 3.4rem;
        .item {
          color: #999;
          font-size: 0.9rem;
          text-align: center;
          margin-right: 1.4rem;
          img {
            width: 3.3rem;
            height: 3.3rem;
          }
        }
      }
      .emoji_wrap {
        width: 100%;
        height: 10rem;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        ul {
          display: flex;
          flex-wrap: wrap;
          padding: 0 10px;
          li {
            width: 14%;
            font-size: 26px;
            list-style: none;
            text-align: center;
          }
        }
      }
      .record_wrap {
        padding: 0 0 1rem;
        background: #f4f4f4;
        .waveform {
          padding: 0rem 2.5rem;
          img {
            display: block;
            width: 100%;
          }
        }
        .time_clock {
          color: #ff8e16;
          font-size: 1.1rem;
          line-height: 2.2;
          text-align: center;
        }
        .btn_wrap {
          width: 70%;
          margin: 0 auto;
          padding: 1rem 0;
          .record_btn {
            width: 9.5rem;
            margin: 0 auto;
            color: #ff730c;
            font-size: 0.9rem;
            line-height: 2.5;
            text-align: center;
            border-radius: 0.6rem;
            border: 1px solid #ff730c;
          }
          .handle_wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .btn {
              width: 45%;
              font-size: 0.9rem;
              line-height: 2.5;
              text-align: center;
              border-radius: 0.6rem;
            }
            .cancel {
              color: #999999;
              border: 1px solid #999999;
            }
            .send {
              color: #ff730c;
              border: 1px solid #ff730c;
            }
          }
        }
        .start {
          padding: 0 0 1rem;
        }
      }
    }
  }
  .van-popup {
    width: 75%;
    background: transparent;
  }
  .news_list {
    padding: 0.8rem 0.5rem;
    border-radius: 0.5rem;
    max-height: 23rem;
    background: #fff;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    .item {
      display: flex;
      align-items: center;
      padding: 0.5rem 0.4rem;
      border-radius: 0.2rem;
      background: #f6f5f5;
      &:not(:last-child) {
        margin-bottom: 0.6rem;
      }
      .left_wrap {
        width: 4rem;
        height: 2.8rem;
        margin-right: 0.5rem;
        border-radius: 0.4rem;
        overflow: hidden;
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      .right_wrap {
        flex: 1;
        font-size: 0.9rem;
      }
    }
    .on {
      color: #fff;
      background: #ff7a1bd2;
    }
  }
  .news_btn_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    > div {
      width: 46%;
      text-align: center;
      line-height: 2.4;
      border-radius: 3rem;
    }
    .cancel {
      color: #ff730c;
      background: #fff;
    }
    .submit {
      color: #fff;
      background: #ff730c;
    }
  }
}
