#calendar {
  width: 85%;
  margin: 0 auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

#calendar .month {
  width: 100%;
  background: #00b8ec;
}

#calendar .month ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

#calendar .month ul li {
  width: 1rem;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#calendar .year-month {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  font-size: 1.1rem;
  letter-spacing: 3px;
}

#calendar .year-month:hover {
  background: rgba(150, 2, 12, 0.1);
}

#calendar .arrow {
  padding: 30px;
}

#calendar .arrow:hover {
  background: rgba(100, 2, 12, 0.1);
}

#calendar .weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #00b8ec;
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  justify-content: space-around;
}

#calendar .weekdays li {
  display: inline-block;
  width: 13.6%;
  text-align: center;
}

#calendar .days {
  padding: 0;
  background: #ffffff;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#calendar .days li {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  width: 14.2%;
  height: 3.6rem;
  font-size: 1rem;
  list-style-type: none;
}

#calendar .days li:hover {
  background: #e1e1e1;
}

#calendar .days li span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.7rem;
  height: 2.7rem;
  line-height: 2.7rem;
}

#calendar .days li .active {
  border-radius: 50%;
  border: 1.5px solid #95e2a6;
}

#calendar .days li .other-month {
  padding: 5px;
  color: gainsboro;
}

#calendar .days .is_sign {
  color: #00b8ec;
  background: url(../../img/sign/is_sign.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 52%;
}
