#app {
  background: #ffffff;
}

#app .header {
  background: url(../../img/integral/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding: 2rem 0;
}

#app .header .point_wrap {
  color: #fff;
  text-align: center;
}

#app .header .point_wrap > p {
  font-size: 2.3rem;
  line-height: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

#app .header .point_wrap > span {
  font-size: 0.9rem;
  letter-spacing: 1px;
}

#app .header .link {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 4.2rem;
  font-size: 0.7rem;
  border-radius: 3rem;
  text-align: center;
  color: #fff;
  padding: 0.12rem 0;
  border: 1px solid #ffffff;
  opacity: 0.8;
}

#app .inner_wrap {
  display: flex;
  align-items: center;
}

#app .inner_wrap .item {
  flex: 1;
  text-align: center;
  padding: 0.54rem 0;
}

#app .inner_wrap .item > p {
  color: #333537;
  font-size: 1.1rem;
  font-weight: bold;
}

#app .inner_wrap .item > span {
  color: #666;
  font-size: 0.7rem;
  letter-spacing: 1px;
}

#app .wrap {
  height: 0.4rem;
  background: #f5f5f5;
}

#app .content_wrap {
  padding: 0 1.2rem;
}

#app .content_wrap .title {
  color: #333537;
  font-size: 1rem;
  font-style: italic;
  padding: 1.4rem 0 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
}

#app .content_wrap .title > span {
  color: #ff4222;
  font-weight: normal;
  margin-left: 0.5rem;
  display: inline-block;
}

#app .content_wrap .content {
  display: flex;
  align-items: center;
}

#app .content_wrap .content .item {
  width: 38%;
  text-align: center;
}

#app .content_wrap .content .item:first-child {
  margin-right: 1rem;
}

#app .content_wrap .content .item .icon_wrap {
  padding: 0.6rem 0;
  border-radius: 0.3rem;
  background: #fafafa;
}

#app .content_wrap .content .item .icon_wrap .icon {
  position: relative;
  margin-bottom: 0.2rem;
}

#app .content_wrap .content .item .icon_wrap .icon > img {
  width: 5rem;
}

#app .content_wrap .content .item .icon_wrap .icon .fixed {
  position: absolute;
  top: 27%;
  left: 30%;
  transform: rotate(-15deg);
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 1px;
}

#app .content_wrap .content .item .icon_wrap .text {
  color: #8c8c8c;
  font-size: 0.7rem;
}

#app .content_wrap .content .item .btn_wrap {
  width: 5rem;
  color: #fff;
  font-size: 0.8rem;
  line-height: 1.6rem;
  border-radius: 3rem;
  margin: 1rem auto 0;
  background: linear-gradient(30deg, #ff8e16, #ff720c);
}

#app .content_wrap .content .disabled .icon_wrap {
  background: #dee1e5;
}

#app .content_wrap .content .disabled .btn_wrap {
  background: #b5b5b5;
}
