#app {
  background-image: url(../../img/user_card/card_bg.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;
  .header {
    position: relative;
    padding: 1.5rem 0 0.8rem;
    .top_wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      .avatar {
        width: 4rem;
        height: 4rem;
        border: 2px solid #f6ca25;
        border-radius: 50%;
        overflow: hidden;
        img {
          display: block;
          width: 100%;
          height: 100;
        }
      }
      .uid {
        color: #fee0a6;
        font-size: 0.92rem;
        margin: 0.5rem auto 0.2rem;
      }
      .bottom {
        color: #fffd81;
        font-size: 1rem;
        font-weight: bold;
      }
    }
    .btn_wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 64%;
      margin: 0 auto;
      padding: 0.8rem 0;
      > div {
        color: #af130c;
        width: 6.4rem;
        font-size: 0.9rem;
        line-height: 1.82rem;
        text-align: center;
        border-radius: 4rem;
        background: linear-gradient(37deg, #ff9b21, #ffd747);
      }
      .contact {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 1rem;
          margin-right: 0.2rem;
        }
      }
    }
    .sign_wrap {
      display: flex;
      width: 85%;
      margin: 0 auto;
      padding: 0.5rem;
      border-radius: 0.3rem;
      background: rgba(255, 155, 33, 0.2);
      .sign_icon {
        width: 1.2rem;
        height: 1.2rem;
        margin-top: 0.2rem;
        margin-right: 0.2rem;
      }
      .sign {
        color: #fad49d;
        font-size: 0.85rem;
        line-height: 1.4;
      }
    }
  }
  .container {
    background-image: url(../../img/user_card/apply_bg.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 88%;
    height: 20rem;
    position: relative;
    .item {
      display: flex;
      align-items: center;
      flex-direction: column;
      img {
        display: block;
        width: 2.6rem;
      }
      p {
        color: #FFD08A;
        font-size: 0.92rem;
        line-height: 1.2rem;
        letter-spacing: 1px;
      }
    }
    .top_left {
      position: absolute;
      left: 27%;
      top: 8%;
    }
    .top_right {
      position: absolute;
      right: 27%;
      top: 8%;
    }
    .left {
      position: absolute;
      left: 12.5%;
      top: 39%;
    }
    .center {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      padding-bottom: 0.6rem;
    }
    .right {
      position: absolute;
      right: 12.5%;
      top: 39%;
    }
    .bottom_left {
      position: absolute;
      left: 27%;
      bottom: 14%;
    }
    .bottom_right {
      position: absolute;
      right: 27.5%;
      bottom: 14%;
    }
  }
  .float_wrpa {
    position: fixed;
    bottom: 9%;
    left: 16%;
    z-index: 2;
    display: flex;
    align-items: center;
    color: #CC0419;
    padding: 0 5rem;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    line-height: 2.6rem;
    border-radius: 4rem;
    background: linear-gradient(0deg, #f8c674, #ffd143);
    box-shadow: 0px 6px 5px 0px rgba(175, 23, 22, 0.5);
    animation: 7s bounceInUp alternate infinite;
  }
}
